@charset "utf-8";
*{margin:0px;padding:0px;box-sizing:border-box;}
li{list-style:none;}
a{
    display:block;
    text-decoration:none;
    color:#444;
    transition-duration:0.3s;
}
a:hover,a:focus{}
body{
    font-size:12px;
    font-family : 'Poppins', '나눔고딕', sans-serif;
    color:#444;
    background-color:#fff;
    height:100%;
}
body.dark{
    color: #fff;
    background-color: #2a2a2a;
}
button{
    cursor: pointer;
}

.clearfix{content:"";display:block;clear:both;}





@media screen and (min-width: 577px){

.center{width:1200px;margin:0 auto;}

/*mode*/
.mode{
    position: fixed;
    right: 50px;bottom: 20px;
    z-index: 9999;
}
.mode button{
    width: 100px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #888;
}
.dark .mode button{
    background: #333;
    border: 1px solid #fff;
    color: #fff;
}
.mode button:hover{
    background: #333;
    border: 1px solid #fff;
    color: #fff;
}
.dark .mode button:hover{
    background: #fff;
    border: 1px solid #888;
    color: #444;
}

/*header*/
#hd{
    height:140px;
    position:fixed;
    z-index:9999;
    left:50%;
    transform:translateX(-50%);
    
}
#hd.hd_bg{
    /*background-color:rgba(256,256,256,0.8);*/
}
#hd>h1{
    width:108px; height:100px;
    margin: 0 auto;
    padding: 20px 0;
}
#hd>h1 img{
    height:60px;
}
.gnb{
    width:400px;margin: 0 auto;
}
.gnb li{
    float:left;
    width:100px;
    height:40px;
    position:relative;
}
.gnb li>a{
    font-size:16px;
    font-weight:bold;
    text-align:center;
}
.dark .gnb li>a{color: #eee;}
.active a{color:#6c82ad;}
.active:after{
    content:"";display:block;
    width:80px;height:1.4px;
    background-color:#ccc;
    position:absolute;
    top:24px;left:50%;
    transform:translateX(-50%);
}

/*intro*/
.in_wrap{
    position:relative;
    overflow:hidden;
    width:100%;height:960px;
    background-image:url(../images/main_bg.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.dark .in_wrap{
    background-image:url(../images/main_bg_dark.png);
}
.in_img{
    position:absolute;
    top:50%;right: 0;
    transform:translate(-50%,-50%);
}
.in_text{
    position:absolute;
    bottom:5%;left: 15%;
    transform:translate(-50%,-50%);
}
.in_text p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.in_text span{
    font-size:  14px;
    line-height: 1.4em;
}
.dark .in_text{color: #eee;}

/*about*/
.about{
    height: 740px;
/*    background-color:#eee;*/
}
.about .dark{background-color: #000;}
.ab_wrap{
    position: relative;
    top:240px;
    width:100%;
    height:500px;
}
.ab_wrap>div{
    position:absolute;
    width: 50%;
    height:500px;
    
}
.about_img{
    left:0;
}
.about_txt{
    right:0;
}
.about_txt>ul{
    float:left;
    width:50%;
    height:50%;
}
.about_txt li{
    line-height:2em;
    font-size: 15px;
}
.about_txt span{
    font-size:11px;
}
.about_txt li.title{
    font-size:20px;
    font-weight:bold;
    color: #444;
    margin-bottom:16px;
    position:relative;
}
.about_txt li.title:after{
    content:"";display:block;
    width:30px;
    height:2px;
    background-color:#444;
    position:absolute;
    top:42px;left:0;
}
.dark .about_txt li.title{
    font-size:20px;
    font-weight:bold;
    color: #eee;
    margin-bottom:16px;
    position:relative;
}
.dark .about_txt li.title:after{
    content:"";display:block;
    width:30px;
    height:2px;
    background-color:#eee;
    position:absolute;
    top:42px;left:0;
}
.profile>li{
    position:relative;
}

.profile>li>p{
    position:absolute;
    right:30px;top:0;
}



/*portfolio*/
.portfolio{
    height:2700px;
/*    background-color:#eef;*/
}
.pf_wrap{
    position:relative;
    top:200px;
    width:100%;
}
.pf_wrap>div{
    position:absolute;
    width:50%;
}
.pf_main{
    left:0;top:0;
}
.pf_main p{
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}
.pf_main a img{
    height:50px;
    margin-bottom:30px;
}
.pf_main>h2{
    font-size:20px;
    margin-bottom:20px;
    color:#ecb903;
    position:relative;
}
.pf_main>h2:after{
    content:"";display:block;
    width:24px;height:2px;
    background-color:#ecb903;
    position:absolute;
    top:30px;left:0;
}

.pf_txt{
    right:-100px;top:160px;
}
.pf_txt li.title{
    font-size:16px;
    font-weight:bold;
    margin-top:20px;
}
.pf_txt li{
    font-size:15px;
    line-height:1.8em;
}
.pf_txt li a.short_btn{
    width: 100px;
    height: 34px;
    border: 1px solid #bbb;
    text-align: center;
    line-height: 34px;
}
.dark .pf_txt li a.short_btn{
    color: #eee;
}

.pf_main.pf_0{
    top: 0px;
}
.pf_txt.pf_0{
    top: 160px;
}
.pf_main.pf_0 a img{
    height:30px;
}
.pf_main.pf_0>h2{
    color:#00c8b7;
}
.pf_main.pf_0>h2:after{
    background-color:#00c8b7;
}

.pf_main.pf_1{
    top: 800px;
}
.pf_txt.pf_1{
    top: 960px;
}
.pf_main.pf_1>h2{
    color:#ecb903;
}
.pf_main.pf_1>h2:after{
    background-color:#ecb903;
}

.pf_main.pf_2{
    top: 1600px;
}
.pf_txt.pf_2{
    top: 1760px;
}
.pf_main.pf_2>h2{
    color:#e60012;
}
.pf_main.pf_2>h2:after{
    background-color:#e60012;
}

/*contact*/
.contact{
    height:920px;
}
.con_wrap{
    position:relative;
    overflow:hidden;
    width:100%;height:920px;
    background-image:url(../images/main_bg.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.dark .con_wrap{
    background-image:url(../images/main_bg_dark.png);
}
.con_text{
    position:absolute;
    top:60%;left:50%;
    transform:translate(-50%,-50%);
}
.con_text h2{
    font-size:60px;
    text-align:center;
    line-height:1.3em;
    margin-bottom:80px;
}
.con_text ul{
    margin-bottom:40px;
}
.con_text li{
    font-size:20px;
    position:relative;
    width: 400px;
    line-height:1.8em;
}
.con_text span{
    position:absolute;
    left:80px;
}
.con_text p{
    font-size:16px;
    line-height:1.8em;
}

}








@media screen and (max-width: 576px){
    
.center{width:100%;margin:0 auto;}
    
/*mode*/
.mode{
    position: fixed;
    right: 20px;bottom: 10px;
    z-index: 9999;
}
.mode button{
    width: 100px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #888;
}
.dark .mode button{
    background: #333;
    border: 1px solid #fff;
    color: #fff;
}

/*header*/
#hd{
    height:70px;
    position:fixed;
    z-index:9999;
    left:50%;
    transform:translateX(-50%);
    
}
#hd.hd_bg{
    background-color:rgba(256,256,256,0.8);
}
#hd>h1{
    width:55px; height:50px;
    margin: 0 auto;
    padding: 10px 0;
}
#hd>h1 img{
    height:30px;
}
.gnb{
    width:300px;margin: 0 auto;
}
.gnb li{
    float:left;
    width:75px;
    height:20px;
    position:relative;
}
.gnb li>a{
    font-size:12px;
    font-weight:bold;
    text-align:center;
}
.dark .gnb li>a{
    color: #eee;
}
.active a{color:#6c82ad;}
.active:after{
    content:"";display:block;
    width:50px;height:0.5px;
    background-color:#ccc;
    position:absolute;
    top:18px;left:50%;
    transform:translateX(-50%);
}

/*intro*/
.in_wrap{
    position:relative;
    overflow:hidden;
    width:100%;height:900px;
    background-image:url(../images/main_bgM.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.dark .in_wrap{
    background-image:url(../images/main_bgM_dark.png);
}
.in_img{
    position:absolute;
    top:40%;left: 50%;
    transform:translate(-50%,-50%) scale(0.8);
}
.in_text{
    position:absolute;
    top:55%;right:0%;
    transform:translate(-50%,-50%);
    text-align: right;
}
.in_text p{
    font-size: 13px;
    font-weight:500;
    line-height: 1.4em;
    margin-bottom: 5px;
}
.in_text span{
    line-height: 1.4em;
}
.dark .in_text{
    color: #eee;
}

/*about*/
.about{
    height:900px;
/*    background-color:#eee;*/
}
.ab_wrap{
    position: relative;
    top:140px;
    width:100%;
    height:900px;
}
.ab_wrap>div{
    position:absolute;
    width: 80%;
    height:50%;
    
}
.about_img>img{
    width:100%;
}
.about_img{
    margin: 0 10%;
    left:0;
}
.about_txt{
    top:280px;
    right:0;
    margin: 0 10%;
}
.about_txt>ul{
    float:left;
    width:50%;
    height:42%;
}
.about_txt li{
    line-height:2em;
    font-size: 12px;
}
.about_txt span{
    font-size:10px;
}
.about_txt li.title{
    font-size:16px;
    font-weight:bold;
    color: #444;
    margin-bottom:16px;
    position:relative;
}
.about_txt li.title:after{
    content:"";display:block;
    width:16px;
    height:1px;
    background-color:#444;
    position:absolute;
    top:32px;left:0;
}
.dark .about_txt li.title{
    color: #eee;
}
.dark .about_txt li.title:after{
    background-color:#eee;
}

.about_txt .name{
    padding-right:30px;
}
.profile>li{
    position:relative;
}

.profile>li>p{
    position:absolute;
    right:0;top:0;
}



/*portfolio*/
.portfolio{
    height:2500px;
/*    background-color:#eef;*/
}
.pf_wrap{
    position:relative;
    top:0px;
    width:100%;
}
.pf_wrap>div{
    position:absolute;
    width:80%;
}
.pf_txt{
    margin: 0 10%;
    top:0;
}
.pf_txt img{
    margin-bottom:20px;
}
.pf_txt>h2{
    font-size:16px;
    margin-bottom:30px;
    color:#ecb903;
    position:relative;
}
.pf_txt>h2:after{
    content:"";display:block;
    width:16px;height:1px;
    background-color:#ecb903;
    position:absolute;
    top:28px;left:0;
}
.pf_txt li.title{
    font-size:13px;
    font-weight:bold;
    margin-top:20px;
}
.pf_txt li{
    font-size:12px;
    line-height:1.6em;
}
.pf_main{
    margin: 0 6%;
}
.pf_main>img{
    width:100%;
}
.pf_txt li a.short_btn{
    width: 100px;
    height: 34px;
    border: 1px solid #bbb;
    text-align: center;
    line-height: 34px;
}
.dark .pf_txt li a.short_btn{
    color: #eee;
}

.pf_main.pf_0{
    top: 0px;
}
.pf_txt.pf_0{
    top: 340px;
}
.pf_main.pf_0 a img{
    margin-bottom:10px;
    height:20px;
}
.pf_main.pf_0>h2{
    font-size:14px;
    margin-bottom:10px;
    position:relative;
    color:#00c8b7;
}
.pf_main.pf_0>h2:after{
    background-color:#00c8b7;
}

.pf_main.pf_1{
    top: 800px;
}
.pf_txt.pf_1{
    top: 1150px;
}
.pf_main.pf_1 a img{
    margin-bottom:10px;
    height:36px;
}
.pf_main.pf_1>h2{
    font-size:14px;
    margin-bottom:10px;
    position:relative;
    color:#ecb903;
}
.pf_main.pf_1>h2:after{
    background-color:#ecb903;
}

.pf_main.pf_2{
    top: 1640px;
}
.pf_txt.pf_2{
    top: 2000px;
}
.pf_main.pf_2 a img{
    margin-bottom:10px;
    height:36px;
}
.pf_main.pf_2>h2{
    font-size:14px;
    margin-bottom:10px;
    position:relative;
    color:#e60012;
}
.pf_main.pf_2>h2:after{
    background-color:#e60012;
}


/*contact*/
.contact{
    height:900px;
}
.con_wrap{
    position:relative;
    overflow:hidden;
    width:100%;height:920px;
    background-image:url(../images/main_bgM.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.dark .con_wrap{
    background-image:url(../images/main_bgM_dark.png);
}
.con_text{
    position:absolute;
    top:60%;left:50%;
    transform:translate(-50%,-50%);
    width:80%;
}
.con_text h2{
    font-size:30px;
    text-align:center;
    line-height:1.3em;
    margin-bottom:60px;
}
.con_text ul{
    margin-bottom:40px;
}
.con_text li{
    font-size:16px;
    position:relative;
    width: 80%;
    margin: 0 10%;
    line-height:1.8em;
}
.con_text span{
    position:absolute;
    left:68px;
}
.con_text p{
    width:90%;
    margin: 0 5%;
    font-size:12px;
    line-height:1.8em;
}
}













