@charset "utf-8";
body{
	font-family: 'Nanum Gothic', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}
@media screen and (min-width: 961px){
	#header{width:1920px;margin: 0 auto;position: relative;}
	.visual{
		width: 100%; height: 1010px;position: absolute;margin: 0 auto;background: green;overflow: hidden;
		z-index: 0;	top: 0;
	}
	.visual .view{width: 100%;height: 100%;}
	.visual .slider img.img{width: 100%;margin: 0 auto;}
	.visual .visualTxt{position: absolute;left: 300px;top: 350px;color: #fff;}
	.visual .visualTxt h2{font-size: 40px;margin-bottom: 20px;}
	.visual .visualTxt p{font-size: 18px;}
	.nextBtn,.prevBtn{
		position: absolute; top:35%;
		cursor: pointer;
	}
	.prevBtn{left: 0px;}
	.nextBtn{right: 0px;}
		
	.bx-wrapper{
	    -moz-box-shadow: 0 none;
	    -webkit-box-shadow: 0 none;
	    box-shadow: 0 none;
	    border: 0 none;
	    margin-bottom: 0;
	}
	.bx-wrapper .bx-pager{
	    position: absolute;
	    bottom: 450px;
	    width: 100%;
	}

	.hWrap{_background: red;
		width: 1260px;height: 125px;margin: 0 auto;
		position: relative;z-index: 1;
	}
	.logo{height: 30px;position: absolute;left: 0;top: 50%;transform: translateY(-50%);transition: 0.2s;}
	.logo2{height: 30px;position: absolute;left: 0;top: 50%;transform: translateY(-50%);opacity: 0;transition: 0.2s;}
	.hWrap>h1>a:hover .logo{opacity: 0;transition: 0.2s;}
	.hWrap>h1>a:hover .logo2{opacity: 1;transition: 0.2s;}
	.nav{float: right;padding-top: 50px;}
	.nav>ul>li{float: left;margin-right: 50px;height: 50px;}
	.nav>ul>li>a{display: block;text-align: right;color: #fff;}
	.nav>ul>li>a:hover{color:#00c8b7;}
	.lang{float: right;padding-top: 36px;}
	.lang>ul>li{float: left;width: 50px;height: 50px;border: 1px solid #00c8b7;}
	.lang>ul>li:first-child{border-right: none;}
	.lang>ul>li>a{display: block;text-align: center;line-height: 50px;color: #fff;}
	.lang>ul>li.act{background: #00c8b7;}

	#content{width: 100%;height: 3760px;}


	.cWrap{_background: orange;
		width: 100%;_height: 3760px;margin: 0 auto;
		top: 570px;position: relative;z-index: 1;
	}
	.container{width: 1260px;height: 1260px;margin: 0 auto;_background: #eee;margin-bottom: 60px;}
	.container>ul>li{float: left;width: 315px;height: 315px;position: relative;overflow: hidden;}
	.container>ul>li:nth-child(1){background:#00c8b7;}
	.container>ul>li:nth-child(2){background: green;}
	.container>ul>li:nth-child(3){background: white;}
	.container>ul>li:nth-child(4){background: #ffad00;}
	.container>ul>li:nth-child(5){background: #ffc552;}
	.container>ul>li:nth-child(6){background: #a86be0;}
	.container>ul>li:nth-child(7){background: #534836;width: 50%;}
	.container>ul>li:nth-child(8){background: #dcc4b9;height:630px;}
	.container>ul>li:nth-child(9){background: #34dfd0;width: 50%;}
	.container>ul>li:nth-child(10){background: #c49fe6;}
	.container>ul>li:nth-child(11){background: #dcdcdc;}
	.container>ul>li:nth-child(12){background: #aba;width: 50%;}

	.container>ul>li .fab,
	.container>ul>li .fas{color: #fff;font-size: 150px;}
	.container>ul>li .far{color: #fff;font-size: 90px;}
	.container>ul>li:nth-child(1) p,
	.container>ul>li:nth-child(5) p,
	.container>ul>li:nth-child(10) p{color: #fff;font-size: 18px;font-weight:bold;padding-top: 15px;}
	.container>ul>li:nth-child(1)>a,
	.container>ul>li:nth-child(5)>a,
	.container>ul>li:nth-child(10)>a{
		text-align: center;display: block;position: absolute;left: 50%;top: 60px;
		transform: translateX(-50%);
	}
	.container>ul>li:nth-child(1):hover a{opacity: 0;transition: 0.6s;}
	.container>ul>li .appImg{
		width: 250px;opacity: 0;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	.container>ul>li:nth-child(1):hover .appImg{opacity: 1;transition: 0.6s;cursor: pointer;}
	.container>ul>li:nth-child(2)>a{
		text-align: center;display: block;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	.container>ul>li .playImg{height: 315px;position: absolute;left: -350px;}
	.container>ul>li .box{width: 315px;height: 315px;background: #444;opacity: 0.3;}
	.container>ul>li:nth-child(2):hover .playImg{transform: scale(1.2) translate(-10px,-5px);transition: 0.6s;}
	.container>ul>li:nth-child(3) .c3Txt{padding: 40px 30px;width: 280px;}
	.container>ul>li:nth-child(3) p{font-size: 18px;color: #585858;}
	.container>ul>li:nth-child(3) span{font-weight: bold;float: right;}
	.container>ul>li:nth-child(3) .p1{font-size: 25px;color:#00c8b7;margin-bottom: 10px;}
	.container>ul>li:nth-child(3) .p1>span{float: none;}
	.cNextBtn{position: absolute;left: 245px;top: 245px;}
	.cPrevBtn{position: absolute;left: 206px;top: 245px;}
	.cVisual{width: 100%;height: 100%;position: absolute;}
	.cView{width: 100%;height: 100%;}
	.cSlider img{width: 240px;margin: 0 auto;padding-top: 45px;}
	.container>ul>li:nth-child(5) img{height: 315px;position: absolute;left: -20px;opacity: 0;}
	.container>ul>li:nth-child(5) .box{
		width: 160px;height: 50px;border-radius: 30px;
		background:none;border: 2px solid #444;
		position: absolute;left: 78px;top: 200px;opacity: 0;
	} 
	.container>ul>li:nth-child(5) .box>a{color:#444;font-size: 18px;line-height: 50px;margin-left: 32px;font-weight: bold;}
	.container>ul>li:nth-child(5):hover>a{opacity: 0;transform: scale(0.2);left: 80px;transition: 0.6s;}
	.container>ul>li:nth-child(5):hover img,
	.container>ul>li:nth-child(5):hover .box{opacity:1;transition: 0.6s;}
	.container>ul>li:nth-child(6) img{width: 250px;position: absolute;left: 33px;top: 100px;}
	.container>ul>li:nth-child(6) p{font-size: 16px;color:#fff;text-align: center;padding-top: 165px;}
	.container>ul>li:nth-child(6) .catImg{width: 315px;position: absolute;left: 0;top: -90px;opacity: 0;}
	.container>ul>li:nth-child(6) a:hover .catImg{opacity: 1;transition: 0.6s;}
	.container>ul>li:nth-child(6) .box{
		width: 160px;height: 50px;border-radius: 30px;
		background:none;border: 2px solid #444;
		position: absolute;left: 78px;top: 150px;opacity: 0;
	} 
	.container>ul>li:nth-child(6) .box>a{color:#444;font-size: 18px;line-height: 50px;margin-left: 32px;font-weight: bold;}
	.container>ul>li:nth-child(6):hover>a{opacity: 0; transition: 0.6s;}
	.container>ul>li:nth-child(6):hover img,
	.container>ul>li:nth-child(6):hover .box{opacity:1;transition: 0.6s;}
	.container>ul>li:nth-child(7) .dogImg{position: absolute;right: 60px;top: 15px;width: 220px;cursor: pointer;}
	.container>ul>li:nth-child(7) p{font-size: 20px;color:#fff;padding: 30px;position: relative;}
	.container>ul>li:nth-child(7) p:after{
		content:"";width: 80px;height: 1px;border-bottom: 3px solid #fff;
		position: absolute;left: 30px;top: 70px;
	}
	.container>ul>li:nth-child(7) h3{font-size: 35px;padding: 30px;color:#fff;}
	.container>ul>li:nth-child(8) .sitterImg{height: 630px;position: absolute;top: 0;left: 0;cursor: pointer;} 
	.container>ul>li:nth-child(8) p{font-size: 20px;color:#444;padding: 30px;position: relative;}
	.container>ul>li:nth-child(8) p:after{
		content:"";width: 70px;height: 1px;border-bottom: 3px solid #444;
		position: absolute;left: 30px;top: 70px;
	}
	.container>ul>li:nth-child(9) .eventImg{width: 630px;position: absolute;bottom: -45px;left: 150px;transition: 0.6s;cursor: pointer;}
	.container>ul>li:nth-child(9) p{font-size: 20px;color:#fff;padding: 30px;position: relative;}
	.container>ul>li:nth-child(9) p:after{
		content:"";width: 50px;height: 1px;border-bottom: 3px solid #fff;
		position: absolute;left: 30px;top: 70px;
	}
	.container>ul>li:nth-child(9) h3{font-size: 24px;padding: 30px;color:#fff;transition: 0.6s}
	.container>ul>li:nth-child(9):hover .eventImg{bottom: 0;left: 0;transition: 0.6s;}
	.container>ul>li:nth-child(9):hover h3{opacity: 0;transition: 0.6s}
	.container>ul>li:nth-child(11) .aiImg{
		width: 240px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-40%);
	}
	.container>ul>li:nth-child(11) p{font-size: 18px;padding: 30px;text-align: center;}
	.container>ul>li:nth-child(12) .dogsImg{height: 250px;position: absolute;right: 30px;top: 20px;}
	.container>ul>li:nth-child(12) .socialImg{width: 630px;position: absolute;top: -20px;left: 0;}
	.container>ul>li:nth-child(12) p{font-size: 20px;color:#fff;padding: 30px;position: relative;}
	.container>ul>li:nth-child(12) p:after{
		content:"";width: 80px;height: 1px;border-bottom: 3px solid #fff;
		position: absolute;left: 30px;top: 70px;
	}
	.container>ul>li:nth-child(12) h3{font-size: 35px;padding: 30px;color:#fff;position: absolute;}
	.contentOne{width: 100%;height: 760px;background: #00c8b7;margin-bottom: 60px;}
	.oneWrap{width: 1260px;margin: 0 auto;}
	.oneWrap .Txt{float: left;padding-top: 120px;width: 630px;}
	.oneWrap .Txt h3{font-size: 50px;color:#fff;margin-bottom: 10px;font-weight: 400;}
	.oneWrap .Txt .petLogo{width: 320px;margin-bottom: 100px;}
	.oneWrap .Txt ul>li{
		float: left;_background:skyblue;margin-right:47px;position: relative;
		text-align: center;line-height:40px;color: #fff;font-size: 18px;display: block;cursor: pointer;
	}
	.oneWrap .Txt ul>li:last-child{margin-right: 0;}
	.oneWrap .Txt ul>li.act{font-weight: 700;}
	.oneWrap .Txt ul>li.act:after{
		content:"";width: 100%;height: 3px;background: #fff;
		position: absolute;left: 50%;top: 40px;transform: translateX(-50%);
	}
	.oneWrap .Txt ul{margin-bottom: 40px;}
	.oneWrap .Txt .box1,.box2,.box3,.box4{width: 600px;}
	.oneWrap .Txt .wrap{margin-bottom: 50px;}
	.oneWrap .Txt .wrap p{font-size: 16px;color: #fff;line-height: 30px;}
	.oneWrap .Txt .wrap .box1>p:last-child{font-size: 14px;}
	.oneWrap .Txt .button{width: 200px;height: 60px;border-radius: 30px;background: #fff;padding: 15px 45px;}
	.oneWrap .Txt .button>a{color: #00c8b7;font-size: 20px;}

	.oneWrap .phone{width: 630px;float: right;padding-top: 70px;position: relative;}
	.oneWrap .phone .phoneImg{position: absolute;width: 300px;left: 100px;}
	.oneWrap .phone .phoneIn{position: absolute;width: 260px;left: 120px;top: 140px;display: none;}
	.oneWrap .phone .phoneOut{position: absolute;width: 120px;left: 330px;top: 500px;display: none;}

	.contentTwo{width: 100%;height: 550px;_background: #eee;_margin-bottom: 60px;}
	.twoWrap{width: 1260px;height: 550px;margin: 0 auto;border-bottom: 3px solid #aaa;}
	.twoWrap>h2{font-size: 35px;color:#444;text-align: center;margin-bottom: 80px;}
	.twoWrap>ul>li{float: left;padding: 0 150px;}
	.twoWrap>ul>li:first-child{padding-left: 8px}
	.twoWrap>ul>li:last-child{padding-right: 8px;}
	.twoWrap>ul>li>a{display: block;text-align: center;}
	.twoWrap>ul>li>a p{font-size: 20px;color: #444;}
	.twoWrap>ul>li>a span{font-weight: bold;}
	.twoWrap .aiImg{height: 235px;margin-bottom: 20px;}

	.contentThree{width: 100%;height: 500px;_background: #eee;_margin-bottom: 60px;}
	.threeWrap{width: 1260px;height: 500px;margin: 0 auto;}
	.threeWrap>h2{text-align: center;color: #444;font-size: 35px;padding-top: 160px;margin-bottom: 60px;font-weight: normal;}
	.threeWrap>ul{width: 530px;margin: 0 auto;margin-bottom: 30px;}
	.threeWrap>ul>li{float: left;width: 250px;height: 64px;border-radius: 32px;position: relative;}
	.threeWrap>ul>li:first-child{border: 1px solid #00c8b7;margin-right: 30px;}
	.threeWrap>ul>li:last-child{border: 1px solid #fff100;}
	.threeWrap .callImg{width: 36px;background: #00c8b7;border-radius: 18px;padding: 6px;}
	.threeWrap .kakaoImg{width: 36px;background: #fff100;border-radius: 18px;padding: 6px;}
	.threeWrap>ul>li img{float: left;position: absolute;left: 30px;top: 14px;}
	.threeWrap>ul>li:last-child img{left: 50px;}
	.threeWrap>ul>li p{float: right;color: #444;font-size: 24px;line-height: 64px;position: absolute;right: 30px;}
	.threeWrap>ul>li:last-child p{right: 50px;}
	.threeWrap>p{font-size: 20px; color: #444;text-align: center;}

	#footer{width: 100%;height: 400px;_background: #eee;border-top: 2px solid #bbb;}
	.fWrap{width: 1260px;margin: 0 auto;padding-top: 100px;}
	.fWrap>ul>li{float: left;margin-bottom: 10px;}
	.fWrap>p,
	.fWrap>ul>li>a{color: #777;_line-height: 35px;}
	.fWrap ul.ulOne>li{padding: 0 5px;border-right: 1px solid #777;}
	.fWrap ul.ulOne>li:nth-child(5),
	.fWrap ul.ulOne>li:last-child{border-right: 0 none;}
	.fWrap>p{margin-bottom: 30px;}
	.fWrap ul.ulTwo{width: 750px;float: left;}
	.fWrap ul.ulTwo>li{padding: 0 5px;border-right: 1px solid #555;}
	.fWrap ul.ulTwo>li:nth-child(5),
	.fWrap ul.ulTwo>li:last-child{border-right: 0 none;}
	.fWrap ul.ulTwo>li>a{color: #555;}
	.fWrap>ul.ulThree{float: right;}
	.fWrap>ul.ulThree>li{margin-left: 20px;}
	.fWrap>ul.ulThree img{width: 68px;}





/*sub*/
.scWrap{width: 1260px;position: absolute;top: 614px;left: 50%;transform: translateX(-50%);}
.scWrap>.s01_menu,
.scWrap>.s03_menu,
.scWrap>.s04_menu{width: 660px;margin: 0 auto; margin-bottom: 15px;}
.scWrap>.s02_menu{width: 1100px;margin: 0 auto; margin-bottom: 15px;}
.scWrap ul>li{float: left;width: 220px;height: 66px;border: 1px solid #aaa;background: #fff;}
.scWrap ul>li:nth-child(1),
.scWrap ul>li:nth-child(2){border-right: 0 none;}
.scWrap ul>li>a{display: block;font-size: 20px;color: #444;text-align: center;line-height: 66px; }
.scWrap ul>li:hover a{background: #ddd;color: #2faca1;font-weight: bold;}
.subNav{color: #00c8b7;margin-bottom: 20px;}
.subNav>a{font-size: 16px;color: #00c8b7;}
.subNav>a:nth-child(2){color: #444;}
.subNav>a:nth-child(3){font-weight: bold;}
.sboxWrap h2{font-size: 30px; color: #00c8b7;text-align: center;line-height: 80px; position: relative;margin-bottom: 50px;}
.sboxWrap h2:before{
	content:"";width: 70px;height: 3px;background: #00c8b7;position: absolute;
	left: 50%;transform: translateX(-50%);
}
.sboxWrap>div{width: 1260px;position: absolute;display: none;}
.sboxWrap>div:first-child{display: block;}
.active{background: #ddd;color: #2faca1 !important;font-weight: bold;}


/*sub01*/
.s01Visual{
	width: 100%;height: 680px;
	background: url(../img/main.png);
	position: absolute;z-index: 0;
}
.s01Visual>p,
.s01Visual>h3{position: absolute;left: 430px;}
.s01Visual>p{top: 260px;font-size: 30px;color: #444;font-weight: bold;}
.s01Visual>h3{top: 310px;font-size: 45px;color: #444;}
.s01Content{height: 1600px !important;}
.s01_cOne>img{width: 1260px;padding-top: 50px;}
.s01_cTwo>div{width: 1260px;margin: 0 auto;}
.s01_cTwo>div>img{float: left;width: 420px;}
.s01_cTwo>div>img:nth-child(1){width: 1260px;}
.s01_cThree>img{width: 1200px;margin: 0 auto;}

/*sub02*/
.s02Visual{
	width: 100%;height: 680px;
	background: url(../img/img_main02.png) #dc8296 no-repeat center;
	position: absolute;z-index: 0;
}
.s02Visual>h3{position: absolute;left: 50%;top: 140px;transform: translateX(-50%); font-size: 38px;color: #fff;}
.s02Content{height: 1350px !important;}
.s02_cOne>img,
.s02_cTwo>img,
.s02_cThree>img,
.s02_cFour>img,
.s02_cFive>img{position: absolute;left: 50%;transform: translateX(-50%);}


/*sub03*/
.s03Visual{
	width: 100%;height: 680px;
	background: url(../img/img_sub.jpg) #3a4628 no-repeat center bottom;
	position: absolute;z-index: 0;
}
.s03Visual>h3{position: absolute;left: 500px;top: 100px; font-size: 42px;color: #fff;}
.s03Content{height: 1900px !important;}
.s03_cOne>img,
.s03_cTwo>img,
.s03_cThree>img{position: absolute;left: 50%;transform: translateX(-50%);}



/*sub04*/
.s04Visual{
	width: 100%;height: 680px;
	background: url(../img/img_main.png) #476c4b no-repeat center bottom;
	position: absolute;z-index: 0;
}
.s04Visual>h3{position: absolute;left: 50%;top: 120px;transform: translateX(-50%); font-size: 38px;color: #fff;}
.s04Content{height: 2100px !important;}
.s04_cOne>img,
.s04_cTwo>img,
.s04_cThree>img{position: absolute;left: 50%;transform: translateX(-50%);}
}







@media screen and (max-width: 960px){
	#header{
		width:100%;
		height: 250px;
		margin: 0 auto;
		position: relative;
		background: #fff;
	}
	.visual{
		width: 100%; height: 200px;position: absolute;margin: 0 auto;background: #fff;overflow: hidden;
		z-index: 0;	top: 50px;
	}
	.visual .view{width: 100%;height: 100%;}
	.visual .slider img.img{width: 100%;margin: 0 auto;}
	.visual .visualTxt{
		display: none;
	}
	.nextBtn,.prevBtn{
		position: absolute; top:25%;
		cursor: pointer;
		transform: scale(0.6);
	}
	.prevBtn{left: 0px;}
	.nextBtn{right: 0px;}
		
	.bx-wrapper{
	    -moz-box-shadow: 0 none;
	    -webkit-box-shadow: 0 none;
	    box-shadow: 0 none;
	    border: 0 none;
	    margin-bottom: 0;
	}

	.hWrap{background: #fff;
		width: 100%;height: 50px;margin: 0 auto;
		position: fixed;z-index: 999;
		padding-left: 20px;
	}
	.logo{height: 20px;position: absolute;left: 20px;top: 50%;transform: translateY(-50%);transition: 0.2s;}
	.logo2{display: none;}
	#header .toggle_menu{
	    width: 30px;
	    height: 30px;
	    position: absolute;
	    right: 8px; top: 4px;
	    cursor: pointer;
	    z-index: 1;    
	}
	#header .toggle_menu div{
	    width: 24px;
	    height: 2px;
	    background-color: #00c8b7;
	    border-radius: 2px;
	    position: absolute;
	    right: 10px;
	    transition: 0.3s;
	}
	.bar1{top: 14px;}
	.bar2{top: 20px;}
	.bar3{top: 26px;}
	#header .toggle_menu.change div{transition: 0.3s;}
	#header .toggle_menu.change .bar1{top:18px;transform: rotate(45deg);}
	#header .toggle_menu.change .bar3{top:18px;transform: rotate(-45deg);}
	#header .toggle_menu.change .bar2{opacity: 0;}
	.nav{
		width: 200px;height: 200px;
		position: absolute;
		right: -100%;
		top: 50px;
		background: #fff;
	}
	.nav>ul>li{
		height: 50px;
		border-top: 1px solid #eee;
	}
	.nav>ul>li>a{
		display: block;
		font-size: 14px;
		text-align: center;
		color: #444;
		line-height: 50px;
	}
	.lang{display: none;}

	#content{width: 100%;}


	.cWrap{_background: orange;
		width: 100%;_height: 3760px;margin: 0 auto;
		top: 0px;position: relative;z-index: 1;
	}
	.container{width: 100%;height: 1250px;margin: 0 auto;_background: #eee;}
	.container>ul>li{float: left;width: 50%;height: 250px;position: relative;overflow: hidden;}
	.container>ul>li:nth-child(1){background:#00c8b7;}
	.container>ul>li:nth-child(2){background: green;}
	.container>ul>li:nth-child(3){background: white;}
	.container>ul>li:nth-child(4){background: #ffad00;}
	.container>ul>li:nth-child(5){background: #ffc552;}
	.container>ul>li:nth-child(6){background: #a86be0;}
	.container>ul>li:nth-child(7){background: #534836;width: 100%;}
	.container>ul>li:nth-child(8){background: #dcc4b9;width: 100%;height:630px;}
	.container>ul>li:nth-child(9){background: #34dfd0;width: 100%;}
	.container>ul>li:nth-child(10){background: #c49fe6;}
	.container>ul>li:nth-child(11){background: #dcdcdc;}
	.container>ul>li:nth-child(12){background: #aba;width: 100%;}

	.container>ul>li .fab,
	.container>ul>li .fas{color: #fff;font-size: 90px;}
	.container>ul>li .far{color: #fff;font-size: 60px;}
	.container>ul>li:nth-child(1) p,
	.container>ul>li:nth-child(5) p{color: #fff;font-size: 14px;font-weight:600;padding-top: 15px;}
	.container>ul>li:nth-child(1)>a,
	.container>ul>li:nth-child(5)>a{
		text-align: center;display: block;position: absolute;left: 50%;top: 60px;
		transform: translateX(-50%);
	}
	.container>ul>li .appImg{
		display: none;
	}
	.container>ul>li:nth-child(2)>a{
		text-align: center;display: block;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	.container>ul>li .playImg{height: 250px;position: absolute;left: -300px;}
	.container>ul>li .box{width: 100%;height: 250px;background: #444;opacity: 0.3;}
	.container>ul>li:nth-child(3) .c3Txt{padding: 40px 20px;width: 100%;}
	.container>ul>li:nth-child(3) p{font-size: 12px;color: #585858;}
	.container>ul>li:nth-child(3) span{font-weight: 600;float: right;}
	.container>ul>li:nth-child(3) .p1{font-size: 18px;color:#00c8b7;margin-bottom: 10px;}
	.container>ul>li:nth-child(3) .p1>span{float: none;}
	.cNextBtn img,
	.cPrevBtn img{width: 30px;}
	.cNextBtn{position: absolute;right: 10px;bottom: 10px;}
	.cPrevBtn{position: absolute;right: 39px;bottom: 10px;}
	.cVisual{width: 100%;height: 100%;position: absolute;}
	.cView{width: 100%;height: 100%;}
	.cSlider img{width: 80%;margin: 0 auto;padding-top: 45px;}
	.container>ul>li:nth-child(5),
	.container>ul>li:nth-child(6){display: none;}
	}
	.container>ul>li:nth-child(7) .dogImg{position: absolute;right: 10px;top: 40px;width: 40%;cursor: pointer;}
	.container>ul>li:nth-child(7) p{font-size: 18px;color:#fff;padding: 30px 20px 70px 20px;position: relative;}
	.container>ul>li:nth-child(7) p:after{
		content:"";width: 40px;height: 1px;border-bottom: 2px solid #fff;
		position: absolute;left: 20px;top: 60px;
	}
	.container>ul>li:nth-child(7) h3{font-size: 20px;padding: 20px;color:#fff;font-weight: 600;line-height: 32px;}
	.container>ul>li:nth-child(8){display: none;}

	.container>ul>li:nth-child(9) .eventImg{width: 100%;position: absolute;bottom: 0px;left: 80px;transition: 0.6s;cursor: pointer;}
	.container>ul>li:nth-child(9) p{font-size: 18px;color:#fff;padding: 30px 20px 10px 20px;position: relative;}
	.container>ul>li:nth-child(9) p:after{
		content:"";width: 40px;height: 1px;border-bottom: 2px solid #fff;
		position: absolute;left: 20px;top: 60px;
	}
	.container>ul>li:nth-child(9) h3{font-size: 16px;padding: 20px;color:#fff;font-weight: 400;line-height: 26px;}
	.container>ul>li:nth-child(10),
	.container>ul>li:nth-child(11){display: none;}
	.container>ul>li:nth-child(12) .dogsImg{height: 250px;position: absolute;right: 30px;top: 20px;}
	.container>ul>li:nth-child(12) .socialImg{width: 630px;position: absolute;top: -20px;left: 0;}
	.container>ul>li:nth-child(12) p{font-size: 18px;color:#fff;padding: 30px 20px 70px 20px;position: relative;}
	.container>ul>li:nth-child(12) p:after{
		content:"";width: 40px;height: 1px;border-bottom: 2px solid #fff;
		position: absolute;left: 20px;top: 60px;
	}
	.container>ul>li:nth-child(12) h3{font-size: 20px;padding: 20px;color:#fff;position: absolute;line-height: 32px;}
	.contentOne{width: 100%;height: 660px;background: #00c8b7;margin-bottom: 60px;}
	.oneWrap{width: 100%;margin: 0 auto;}
	.oneWrap .Txt{float: left;width: 100%;padding: 80px 20px;}
	.oneWrap .Txt h3{font-size: 22px;color:#fff;margin-bottom: 15px;font-weight: 400;}
	.oneWrap .Txt .petLogo{width: 200px;margin-bottom: 40px;}
	.oneWrap .Txt ul>li{
		float: left;_background:skyblue;margin-right:50px;position: relative;
		text-align: center;line-height:40px;color: #fff;font-size: 16px;display: block;cursor: pointer;
	}
	.oneWrap .Txt ul>li:last-child{margin-right: 0;}
	.oneWrap .Txt ul>li.act{font-weight: 600;}
	.oneWrap .Txt ul>li.act:after{
		content:"";width: 100%;height: 1px;background: #fff;
		position: absolute;left: 50%;top: 36px;transform: translateX(-50%);
	}
	.oneWrap .Txt ul{margin-bottom: 30px;}
	.oneWrap .Txt .box1,.box2,.box3,.box4{width: 90%;}
	.oneWrap .Txt .wrap{margin-bottom: 50px;}
	.oneWrap .Txt .wrap p{font-size: 12px;color: #fff;line-height: 24px;}
	.oneWrap .Txt .wrap .box1>p:last-child{font-size: 11px;}
	.oneWrap .Txt .button{width: 160px;height: 40px;border-radius: 20px;background: #fff;}
	.oneWrap .Txt .button>a{display: block;color: #00c8b7;font-size: 14px;line-height: 40px;text-align: center;}

	.oneWrap .phone{width: 100%;float: right;position: relative;}
	.oneWrap .phone .phoneImg{display: none;position: absolute;width: 300px;right: 20px;top: -40px;}
	.oneWrap .phone .phoneIn{opacity: 0;position: absolute;width: 260px;right: 40px;top: 0px;}
	.oneWrap .phone .phoneOut{position: absolute;width: 120px;left: 300px;top: -140px;display: none;}

	.contentTwo{display: none;}
	.contentThree{width: 100%;height: 200px;_background: #eee;_margin-bottom: 50px;}
	.threeWrap{width: 100%;height: 200px;margin: 0 auto;padding: 0 20px;}
	.threeWrap>h2{text-align: center;color: #444;font-size: 14px;padding-top: 0px;margin-bottom: 30px;font-weight: 400;}
	.threeWrap>ul{width: 100%;margin: 0 auto;margin-bottom: 30px;}
	.threeWrap>ul>li{float: left;width: 45%;height: 50px;border-radius: 25px;position: relative;}
	.threeWrap>ul>li:first-child{border: 1px solid #00c8b7;margin-right: 5%;}
	.threeWrap>ul>li:last-child{border: 1px solid #fff100;}
	.threeWrap .callImg{width: 24px;background: #00c8b7;border-radius: 12px;padding: 6px;}
	.threeWrap .kakaoImg{width: 24px;background: #fff100;border-radius: 12px;padding: 6px;}
	.threeWrap>ul>li img{float: left;position: absolute;left: 20px;top: 14px;}
	.threeWrap>ul>li:last-child img{left: 20px;}
	.threeWrap>ul>li p{float: right;color: #444;font-size: 16px;line-height: 50px;position: absolute;right: 30px;}
	.threeWrap>ul>li:last-child p{right: 40px;}
	.threeWrap>p{font-size: 12px; color: #444;text-align: center;}

	#footer{width: 100%;height: 340px;background: #f4f4f4;}
	.fWrap{width: 100%;margin: 0 auto;padding: 30px 20px;}
	.fWrap>ul>li{float: left;}
	.fWrap>p,
	.fWrap>ul>li>a{color: #777;font-size: 11px;line-height: 15px;}
	.fWrap ul.ulOne>li{padding: 0 10px;}
	.fWrap>p{padding: 10px 0 0 10px;margin-bottom: 20px;}
	.fWrap ul.ulTwo{width: 100%;float: left;margin-bottom: 20px;}
	.fWrap ul.ulTwo>li{padding: 0 10px;}
	.fWrap ul.ulTwo>li>a{color: #555;font-size: 11px;line-height: 15px;font-weight: 600;}
	.fWrap>ul.ulThree{float: right;}
	.fWrap>ul.ulThree>li{margin-left: 16px;}
	.fWrap>ul.ulThree img{width: 40px;}





	/*sub*/
	.scWrap{width: 100%;position: absolute;top: 310px;left: 50%;transform: translateX(-50%);}
	.scWrap>.s01_menu,
	.scWrap>.s02_menu,
	.scWrap>.s03_menu,
	.scWrap>.s04_menu{width: 100%;margin: 0 auto; margin-bottom: 15px;}
	.scWrap ul>li{float: left;width: 33.3%;height: 40px;border: 1px solid #eee;background: #fff;}
	.scWrap ul>li:nth-child(1),
	.scWrap ul>li:nth-child(2){border-right: 0 none;}
	.scWrap ul>li>a{display: block;font-size: 16px;color: #444;text-align: center;line-height: 40px; }
	.scWrap ul>li:hover a{background: #f9f9f9;color: #2faca1;font-weight: bold;}
	.subNav{padding-left: 20px;color: #00c8b7;margin-bottom: 20px;}
	.subNav>a{font-size: 12px;color: #00c8b7;}
	.subNav>a:nth-child(2){color: #444;}
	.subNav>a:nth-child(3){font-weight: bold;}
	.sboxWrap h2{font-size: 18px; color: #00c8b7;text-align: center;line-height: 50px; position: relative;margin-bottom: 40px;}
	.sboxWrap h2:before{
		content:"";width: 40px;height: 2px;background: #00c8b7;position: absolute;
		left: 50%;transform: translateX(-50%);
	}
	.sboxWrap>div{width: 100%;position: absolute;display: none;}
	.sboxWrap>div:first-child{display: block;}
	.active{background: #f4f4f4;color: #2faca1 !important;font-weight: bold;}


	/*sub01*/
	.s01Visual{
		width: 100%;height: 300px;
		background: url(../img/main.png);
		background-size: cover;
		background-position: center;
		position: absolute;z-index: 0;
	}
	.s01Visual>p,
	.s01Visual>h3{display: none;}
	.s01Content{height: 700px !important;}
	.s01_cOne>img{width: 140%;}
	/*.s01_cTwo>div{width: 100%;margin: 0 auto;}*/
	.s01_cTwo>div>img{float: left;width: 33.3%;}
	.s01_cTwo>div>img:nth-child(1){width: 160%; margin-bottom: 20px;}
	.s01_cThree>img{width: 110%;margin: 0 auto;}

	/*sub02*/
	.s02Visual{
		width: 100%;height: 300px;
		background: url(../img/img_main02.png) #dc8296 no-repeat center;
		background-size: cover;
		position: absolute;z-index: 0;
	}
	.s02Visual>h3{display: none;}
	.s02Content{height: 600px !important;}
	.s02_cOne>img,
	.s02_cTwo>img,
	.s02_cThree>img,
	.s02_cFour>img,
	.s02_cFive>img{position: absolute;left: 50%;transform: translateX(-50%);width: 100%;}


	/*sub03*/
	.s03Visual{
		width: 100%;height: 300px;
		background: url(../img/img_sub.jpg) #3a4628 no-repeat center bottom;
		background-size: cover;
		position: absolute;z-index: 0;
	}
	.s03Visual>h3{display: none;}
	.s03Content{height: 640px !important;}
	.s03_cOne>img,
	.s03_cTwo>img,
	.s03_cThree>img{position: absolute;left: 50%;transform: translateX(-50%);width: 100%;}



	/*sub04*/
	.s04Visual{
		width: 100%;height: 300px;
		background: url(../img/img_main.png) #476c4b no-repeat center bottom;
		background-size: cover;
		position: absolute;z-index: 0;
	}
	.s04Visual>h3{display: none;}
	.s04Content{height: 720px !important;}
	.s04_cOne>img,
	.s04_cTwo>img,
	.s04_cThree>img{position: absolute;left: 50%;transform: translateX(-50%);width: 100%;}


}	