@charset "utf-8";

#header{
	width: 1200px; height: 120px;margin: 0 auto;
	/*background: #aaa;*/
	position: relative;
}
#header .box{
	width: 260px;height: 60px;  
	position: absolute;top: 50%; margin-top: -30px;
	float: left;
}
#header .box1{
	width: 940px;
	float: right; 
	position: relative;
}
#header .box1 .menu{width: 620px;float: left;}
#header .box1 .menu li{
	float: left; margin: 0 34px;
}
#header .box1 .menu a{
	font-size:16px; line-height: 120px;
	/*letter-spacing: 1px;*/
}
#header .box1 .menu a:hover{
	border-bottom: 1px solid #747474;
}
#header .box1 .btn{
	width: 320px;float: right; 
} 
#header .box1 .btn ul{position: absolute;top: 50%;margin-top: -25px;}
#header .box1 .btn li{
	padding-left: 40px;
	float: left;
}
#header .box1 .btn a{
	font-size:16px; line-height: 120px;
	display: block;
 	width: 120px;height: 50px;
 	border-radius: 25px;text-align: center;
 	line-height: 50px;
}
#header .box1 .btn a:hover{
	width: 120px;height: 50px;background: navy; color: white;
 	border-radius: 25px;text-align: center;
}
