@charset "utf-8";

/*header*/
#header{
	height: 160px;
}
#header .hWrap{
	margin: 0 auto;
	background: #0044af;
}
#header .hWrap .htop{
	width: 1200px;height: 40px;
	margin: 0 auto; position: relative;
}

#header .hWrap .htop .htl li{
	margin-right: 4px;
	float: left;
}
#header .hWrap .htop .htl  a{
	display: block;
	width: 125px; height: 40px;
	background: #002155;
	line-height: 40px;
	text-align: center;
	color:#fff; font-size: 16px;
}
#header .htop .htl  a:hover{background: #fff;color:#727272;}

#header .hWrap .htr{
	position: absolute; top: 0;right: 0;
}
#header .hWrap .htr li{float: left; margin-left: 15px;}
#header .hWrap .htr a{display: block; text-align: center;line-height: 40px;color:#fff; font-size: 12px;}
#header .hWrap .htr img{padding-top: 12px;}

#header .hmain{width: 1200px;height: 120px;margin: 0 auto;position: relative;}
#header .hmain .logo{position: absolute;top: 30px;left: 0;}
#header .hmain .menu{position: absolute;top: 0;right: 0px;}
#header .hmain .menu li{float: left;margin-right: 50px;}
#header .hmain .menu li:last-child{margin-right: 0px;}
#header .hmain .menu a{display: block;text-align: center;line-height: 120px;color:#727272;font-size: 20px;}
#header .hmain .menu img{padding-top: 36px;}



/*contents*/
#contents{
	height: 1300px;
	background-image: url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg); 
						/*앞에 있는 url이미지가 위로 올라옴*/
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto, cover;
}
#contents .title{
	width: 1200px;height: 260px;/*background: #008299;*/
	margin: 0 auto;position: relative;
}
#contents .title .tl{position: absolute; bottom: 38px; left: 0;}
#contents .title .tl p{font-size: 45px;color:#fff;}
#contents .title .tl h1{font-size: 64px;color:#fff;}
#contents .title .tr{position: absolute;right: 0;}
#contents .title .tr li{float: left;margin-left: 14px;margin-top: 85px;}



#contents .container{
	width: 1200px; height: 900px;background: #FFB2D9;
	margin: 0 auto;
}
#contents .container li{
	float: left;width: 25%;height: 225px;  /*기본값*/
}
#contents .container li:nth-child(1){background: #aFC11a; width: 75%;height: 450px;}
#contents .container .view{position: relative;margin: 0 auto;}
#contents .container li:nth-child(2){background: #fbC19b; height: 450px;}
#contents .container li:nth-child(3){background: #00163b;}
#contents .container li:nth-child(4){background: #1651b7;}
#contents .container li:nth-child(5){background: #ffffff;}
#contents .container li:nth-child(6){background: #FFb16f;}
#contents .container li:nth-child(7){background: #FaC171;}
#contents .container li:nth-child(8){background: #FFa192; width: 75%;}


.visual{position: relative;}
.visual .view{width: 1200px; height: 450px;position: relative;margin: 0 auto;}
.visual .slider img.img{position: absolute;left: 0;}
.visual .visualTxt{position: absolute;left: 95px;top: 95px;width: 300px;}
.visual .visualTxt p{font-size: 65px;margin-bottom: 25px; line-height: 70px;color:#1650b7;}
.visual .visualTxt p span{font-weight: bold;}
.visual .visualTxt a{
		display: block;
	 	width: 175px;height: 40px;background: #192c4d;color: #fff;text-align: center;
	 	line-height:40px;
}
.nextBtn,.prevBtn{
width: 55px;
position: absolute; top:50%; margin-top: -35px;
cursor: pointer; mix-blend-mode: multiply;
}
.prevBtn{left: 0px;}
.nextBtn{right: 0px;}
	
.bx-wrapper{
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    border: 0 none;
    background: #fff;
    margin-bottom: 0;
}
#contents .container .app{
	margin: 0 auto;position: relative;
}
#contents .container .app img{position: absolute;top: 0;left: 0;}
#contents .container .app .appTxt{position: absolute;left: 30px;top: 50px;width: 300px; }
#contents .container .app .p1{margin-bottom: 25px;font-size: 38px;color: #fff;}
#contents .container .app .p1 span{font-weight: bold;}
#contents .container .app .p2{margin-bottom: 40px;font-size: 18px;color: #fff;}
#contents .container .app a{
	display: block; 
 	width: 175px;height: 40px;background: #707070;color: #fff;text-align: center;
 	line-height:40px; mix-blend-mode: multiply; /*opacity: 80%;*/
}



/*footer*/
footer#footer{
	height: 165px;
}