@charset "utf-8";

body{
	font-family: '나눔고딕', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}
@media screen and (min-width: 923px){
	#fp-nav {display: none;}

	#page1{background-image: url(../images/img01.jpg);background-color: #999;background-blend-mode: multiply;}
	#page2{background-image: url(../images/img03.jpg);background-color: #999;background-blend-mode: screen;}
	#page3{background-image: url(../images/img02.jpg);background-color: #aaa;background-blend-mode: multiply;}
	#page4{background-image: url(../images/img05.jpg);background-color: #aaa;background-blend-mode: screen;}
	.section{
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
	}
	.bgw{background: #fff;transition: 0.3s;}
	nav#navTop{
		position: fixed;z-index:2;width: 100%;
		_background-color: #cdcdcd;padding: 0 100px;
	}
	nav#navTop h2{float: left;width: 58px;height: 46px;}
	nav#navTop h2 a{display: block;position: absolute;top: 50%;transform: translateY(-50%);}
	nav#navTop>ul{float: right;}
	nav#navTop>ul>li{float: left;position: relative;}
	nav#navTop>ul>li>a{
		display: block;line-height:100px;text-align: center;
		padding: 0 50px; font-size: 20px;color:#fff;transition: 0.3s;
	}
	#navTop li a.bl{color: #444;transition: 0.3s;}
	nav#navTop li.active a{color: #ecb800;}
	#navTop .toggleMenu{display: none;}
	.main{
		position: absolute;left: 50%;top: 40%;transform: translateX(-50%);
		color: #fff;text-align: center;
	}
	.moreBtn{margin: 0 auto;width: 200px;height: 60px;border: 2px solid #fff;position: relative;overflow: hidden;}
	.moreBtn .bBg{width: 100%;height: 100%;background: #fff;position: absolute;left: -100%;transition: 0.3s;opacity: 0.8;}
	.moreBtn a{
		display: block;color: #fff;font-size: 20px;text-align: left;line-height: 60px;width: 100%;
		transition: 0.3s;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);padding-left: 15%;
	}
	.moreBtn .bar1{
		position: absolute;left: 70%;top: 48%;transform: translateY(-50%);
		width: 15%;height: 2px;background: #fff;border-radius: 2px;transition: 0.3s;
	}
	.moreBtn .bar2{
		position: absolute;left: 82%;top: 56%;transform: translate(-50%,-50%) rotate(-45deg);
		width: 6%;height: 2px;background: #fff;border-radius: 2px;transition: 0.3s;
	}
	.moreBtn:hover .bBg{left: 0;transition: 0.3s;}
	.moreBtn:hover a{color: #444;transition: 0.3s;}
	.moreBtn:hover .bar1,
	.moreBtn:hover .bar2{background: #444;transition: 0.3s;}

	#onViewOne{top: 25%;transition: 0.6s;opacity: 0;}
	#onViewOne.move{top: 35%;opacity: 1;}
	#onViewOne h3{font-size: 58px;margin-bottom: 55px;position: relative;font-weight: 600;}
	#onViewOne h3:after{
		content:"";width: 200px;height: 5px;background: #ecb800;
		display: block;position: absolute;top: 100px;left: 50%;transform: translateX(-50%);
	}
	#onViewOne .txt1{font-size: 30px;margin-bottom: 8px;}
	#onViewOne .txt2{font-size: 18px;line-height: 30px;margin-bottom: 30px;}
	
	
	
	.scroll{
		position: absolute;left: 50%;transform: translateX(-50%);bottom: 20px;
		animation: xScroll 0.8s infinite alternate;
	}
	@keyframes xScroll{
		from{bottom: 20px;}
		to{bottom: 40px;}
	}
	#onViewTwo{width: 100%;height: 100%;top: 0;transition: 0.6s;opacity: 0;}
	#onViewTwo.move{top: 12%;opacity: 1;}
	#onViewTwo h3{font-size: 48px;margin-bottom: 80px;position: relative;font-weight: 600;color: #444;}
	#onViewTwo h3:after{
		content:"";width: 200px;height: 5px;background: #ecb800;
		display: block;position: absolute;top: 80px;left: 50%;transform: translateX(-50%);
	}
	#onViewTwo .vtWrap{
		width: 1260px;height: 500px;margin: 0 auto;_background: #eee;
		overflow: hidden;position: relative;margin-bottom: 30px;
	}
	#onViewTwo .vtWrap ul{width: 2550px;position: absolute;left: 0;}
	#onViewTwo .vtWrap li{
		/*background-image: url(../images/pro01.jpg);*/
		float: left;width: 400px;height: 500px;overflow: hidden;position: relative;
		margin-right: 30px;
	}
	#onViewTwo .vtWrap li:nth-child(6){margin-right: 0;}
	#onViewTwo .vtWrap li img{height: 500px;position: absolute;left: -20px;}
	#onViewTwo .vtWrap li .multi{
		position: absolute;left: 0;top: 0;
		width: 100%;height: 100%;background: #aaa;mix-blend-mode: multiply;
	}
	#onViewTwo .vtWrap li .tBox{
		position: absolute;width: 400px;height: 500px;
		top: 400px;left: 0;background: #fff;opacity: 0.8;
		padding:20px;text-align: left;transition: 0.6s;
	}
	#onViewTwo .vtWrap li .tBox:hover{top: 0;transition: 0.6s;}
	#onViewTwo .vtWrap li .tBox h4{font-size: 16px;font-weight: 600;color: #000;margin-bottom: 10px;}
	#onViewTwo .vtWrap li .tBox p{font-size: 12px;color: #000;line-height: 18px;}
	#onViewTwo .vtWrap li .tBox .wrap{
		width: 50px;height: 50px;border: 3px solid #444;
		border-radius: 25px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);transition: 0.3s;cursor: pointer;
	}
	#onViewTwo .vtWrap li .tBox .bar1{
		width: 30px;height: 3px;background: #444;
		border-radius: 2px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	#onViewTwo .vtWrap li .tBox .bar2{
		width: 3px;height: 30px;background: #444;
		border-radius: 2px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	#onViewTwo .vtWrap li .tBox .wrap:hover{transform: translate(-50%,-50%) rotate(90deg);}
	#onViewTwo .btnPager{width: 200px;position: absolute;_bottom: -50px;left: 50%;transform: translateX(-50%);}
	#onViewTwo .btnPager>div{
		float: left;width: 30px;height: 30px;background: #aaa;transition: 0.1s;
		cursor: pointer;margin: 0 10px;
	}
	#onViewTwo .btnPager div.act{
		background: #ecb800;transform: scale(1.2);transition: 0.1s;
	}
	#onViewTwo .moreBtn{bottom: -60px;border: 2px solid #666;}
	#onViewTwo .moreBtn a{color: #444;}
	#onViewTwo .moreBtn .bar1,
	#onViewTwo .moreBtn .bar2,
	#onViewTwo .moreBtn .bBg{background: #444;}
	#onViewTwo .moreBtn:hover a{color: #fff;}
	#onViewTwo .moreBtn:hover .bar1, 
	#onViewTwo .moreBtn:hover .bar2{background: #fff;} 

	#onViewThree{width: 80%;top:15%;transition: 0.6s;opacity: 0;margin: 0 auto;}
	#onViewThree.move{top: 25%;opacity:1;transition: 0.6s;}
	#onViewThree .left{float: left;width: 40%;}
	#onViewThree h3{
		font-size: 48px;margin-bottom: 70px;position: relative;font-weight: 600;text-align: left;
	}
	#onViewThree h3:after{
		content:"";width: 200px;height: 5px;background: #ecb800;
		display: block;position: absolute;top: 100px;left: 0;
	}
	#onViewThree .txt1{font-size: 24px;margin-bottom: 50px;text-align: left;}
	#onViewThree .snsIcon a{
		display: block;float: left;width: 90px;height: 90px;border-radius: 50%;
		margin-right: 40px;background: #bbb;position: relative;margin-bottom: 40px;
	}
	#onViewThree .snsIcon a img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
	#onViewThree .snsIcon a:hover img{transform: translate(-50%,-50%) scale(0.8); transition: 0.3s;}
	#onViewThree .moreBtn{margin: 0;}

	#onViewThree .right{
		float: right;width: 60%;height: 600px;position: relative;
	}
	#onViewThree .right .artSlide{margin: 0 50px;width: 850px;height: 600px;position: relative;overflow: hidden;}
	#onViewThree .right .artWrap{
		z-index: 1;
		width: 1800px;height: 600px;position: absolute;left: 0;
	}
	#onViewThree .right ul.L{width: 850px;float: left;}
	#onViewThree .right ul.R{width: 850px;float: right;margin-right: 50px;}
	#onViewThree .right li{
		float: left;width: 260px;height: 280px;overflow: hidden;position: relative;
	}
	#onViewThree .right li:nth-child(1){width: 550px;height: 600px;margin-right: 40px;}
	#onViewThree .right li:nth-child(2){margin-bottom: 40px;}
	#onViewThree .right li img{height: 100%;position: absolute;left: -10px;}
	#onViewThree .right li:nth-child(1) img{left: -30px;}
	#onViewThree .right li .tBox{
		position: absolute;width: 100%;height: 100%;
		top: 78%;left: 0;background: #444;opacity: 0.6;
		padding:5%;text-align: left;transition: 0.6s;
	}
	#onViewThree .right li .tBox:hover{top: 0;}
	#onViewThree .tBox h4{font-size: 18px;font-weight: 600;margin-bottom: 5px;}
	#onViewThree .tBox p{font-size: 11px;line-height: 16px;}
	#onViewThree .right li:nth-child(1) h4{font-size: 24px;margin-bottom: 10px;}
	#onViewThree .right li:nth-child(1) p{font-size: 16px;line-height: 20px;}


	#onViewThree .tBox .btn{
		position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);
		width: 25%;height: 10%;border: 2px solid #fff;cursor: pointer;overflow: hidden;
	}
	#onViewThree .tBox .bar1{
		position: absolute;left: 50%;top: 45%;transform: translate(-50%,-50%);
		width: 60%;height: 2px;background: #fff;
	}
	#onViewThree .tBox .bar2{
		position: absolute;left: 74%;top: 56%;transform: translate(-50%,-50%) rotate(-45deg);
		width: 15%;height: 2px;background: #fff;
	}
	#onViewThree .tBox .btn div{transition: 0.6s;}
	#onViewThree .tBox .fffBox{
		width: 100%;height: 100%;position: absolute;left: -100%;top: 0;
		background: #fff;
	}
	#onViewThree .tBox .btn:hover .bar1,
	#onViewThree .tBox .btn:hover .bar2{background: #000;transition: 0.6s;}
	#onViewThree .tBox .btn:hover .fffBox{left: 0;transition: 0.6s;}
	#onViewThree .right .btnPage{
		position: absolute;width: 950px;height: 100px;
		top: 50%;transform: translateY(-50%);
	}
	#onViewThree .right .btnPage>div{
		width: 40px;height: 100px;position: relative;
		cursor: pointer;display: block;padding: 0 15px;
	}
	#onViewThree .right .btnPage>div .bar1{
		width: 2px;height: 50px;transform: rotate(30deg);background: #fff;
		position: absolute;top: 4px;
	}
	#onViewThree .right .btnPage>div .bar2{
		width: 2px;height: 50px;transform: rotate(-30deg);background: #fff;
		position: absolute;bottom: 4px;
	}
	#onViewThree .right .btnPage .prev{float: left;}
	#onViewThree .right .btnPage .next{float: right;transform: rotate(180deg);}

	#onViewFour{width: 100%;height: 100%;top: 0;transition: 0.6s;opacity: 0;}
	#onViewFour.move{top: 12%;opacity: 1;}
	#onViewFour .nText{width: 85%;margin-bottom: 30px;}
	#onViewFour h3{
		font-size: 48px;margin-bottom: 60px;position: relative;font-weight: 600;
		color: #444;text-align: right;
	}
	#onViewFour h3:after{
		content:"";width: 200px;height: 5px;background: #ecb800;
		display: block;position: absolute;top: 80px;right: 0;
	}
	#onViewFour .nPtxt{float: right;}
	#onViewFour .nPtxt p{
		float: left;color: #444;text-align: right;font-size: 20px;
		/*width: 160px;*/position: relative;margin-left: 50px;
	}
	#onViewFour .nPtxt p:after{
		content:"";width: 100%;height: 2px;background: #aaa;border-radius: 2px;
		position: absolute;bottom: -8px;left: 0;transform: scale(0);
	}
	#onViewFour .nPtxt p:hover:after{
		transform: scale(1);transition: 0.3s;
	}
	#onViewFour .nPtxt a{display: inline-block;margin-left: 30px;font-size: 12px;color: #aaa;}
	#onViewFour .newsWrap{width: 70%;margin: 0 auto;}
	#onViewFour .newsWrap li{
		width: 100%;height: 180px;background-color: rgba(220,220,220,0.5);border-bottom: 2px solid #aaa;
	}
	#onViewFour .newsWrap li:nth-child(2){background-color: rgba(255,255,255,0.5);}
	#onViewFour .newsWrap li:hover{background: #fff;transition: 0.3s;}
	#onViewFour .newsWrap li:nth-child(1){border-top: 2px solid #aaa;}
	#onViewFour .newsWrap .newsTxt{float: left;width: 70%;padding: 40px 30px;}
	#onViewFour .newsWrap .newsTxt a{display: block;font-size: 24px;font-weight: 600;color: #444;text-align: left;margin-bottom: 20px;}
	#onViewFour .newsWrap .newsTxt p{font-size: 16px;color: #444;text-align: left;line-height: 25px;}
	#onViewFour .newsWrap .nImg{
		float: right;width: 200px;height: 150px;overflow: hidden;
		position: relative;top: 50%;transform: translateY(-50%);
	}
	#onViewFour .newsWrap .nImg img{width: 100%;position: absolute;top: -10px;transition: 0.3s;}
	#onViewFour .newsWrap li:nth-child(3) .nImg img{top: 0;}
	#onViewFour .newsWrap .nImg:hover img{transform:  scale(1.1);transition: 0.3s;}
	#onViewFour .moreBtn{bottom: -40px;border: 2px solid #666;}
	#onViewFour .moreBtn a{color: #444;}
	#onViewFour .moreBtn .bar1,
	#onViewFour .moreBtn .bar2,
	#onViewFour .moreBtn .bBg{background: #444;}
	#onViewFour .moreBtn:hover a{color: #fff;}
	#onViewFour .moreBtn:hover .bar1, 
	#onViewFour .moreBtn:hover .bar2{background: #fff;} 
	.top{
		position: fixed;width: 80px;height: 80px;/*border-radius: 50%;*/border: 1px solid #fff;
		background-color: rgba(170,170,170,0.5);right: 50px;bottom: 50px;line-height: 80px;
		font-size: 24px;text-align: center;
		animation:viewTop 1s infinite alternate;opacity: 0;transition: 0.3s;
	}
	.top a{display: block;color: #fff;}
	@keyframes viewTop{
		from{transform: translateY(0);}
		to{transform: translateY(-20px);}
	} 
	.top.view{opacity: 1;transition: 0.3s;}

	.tabPager{display: none;}
	.tabPage{display: none;}

	/*sub01	*/
	.visual{
		width: 100%;height: 500px;
		background-image: url(../images/img06.png);
		background-size: cover;
		 _background-color: #444;position: relative;
	}
	.sub_one>li>a{
		display: block;line-height: 25px;text-align: center;
		margin: 20px 0px; font-size: 18px;color:#444 !important;transition: 0.3s;
	}
	.sub_one>li.active>a{color: #ecb800 !important;}
	#sMenu{display: none;background: #fff;position: absolute;top: 110px;left: 50%;transform: translateX(-50%);}
	#sMenu>li{width: 150px;}
	#sMenu>li:hover>a{background: #ccc;transition: 0.3s;font-weight: 600;}
	#sMenu>li>a{display: block;font-size: 18px;text-align: center;line-height: 30px;color: #444 !important;padding: 20px 0;}
	.visual h3{
		text-align: center;font-weight: 600;font-size: 45px;color: #444;letter-spacing: 20px;
		position: absolute;left: 50%;top: 40%;transform: translateX(-50%);z-index: 1;
	}
	.visual h3:after{
		content:"";width: 2px;height: 160px;background: #ecb800;position: absolute;
		left: 50%;top: 100px;
	}
	.sub_one_content{width: 100%;height: 700px;position: relative;}
	.sub_one_content .cTop{
		width: 70%;height: 300px;background: #fff;position: absolute;top: -150px;z-index: 0;
		left: 50%;transform: translateX(-50%);padding: 10px;
	}
	.sub_nav{font-size: 14px;}
	.sub_nav a{display: inline-block;color: #ecb800;margin: 0 5px;}
	.sub_nav a:nth-child(2){color: #444;}
	.sub_txt{width: 100%;text-align: center;position: absolute;top: 140px;color: #444;}
	.sub_txt h4{font-size: 26px;font-weight: 600;margin-bottom: 20px;}
	.sub_txt p{font-size: 16px;line-height: 26px;}
	.sub_CI{width: 100%; position: absolute;top: 150px;padding: 80px 0;background: #eee;}
	.sub_CI h4{text-align: center;font-size: 20px;font-weight: 500;line-height: 30px;margin-bottom: 100px;color:#444;}
	.sub_CI ul{width: 80%;margin: 0 auto;}
	.sub_CI li{float: left;width: 48%;height: 230px;text-align: center;color: #444;padding: 40px 100px;background: #fff;}
	.sub_CI li:nth-child(1){margin-right: 4%;}
	.sub_CI li h5{font-size: 24px;margin-bottom: 50px;position: relative;}
	.sub_CI li h5:after{
		content:"";width: 50px;height: 1px;background: #ecb800;position: absolute;
		left: 50%;top: 50px;transform: translateX(-50%);
	}
	.sub_CI li p{text-align: left;line-height: 25px;font-size: 16px;}
	#footer{width: 100%;height: 170px;background: #9a9999;}
	#footer .fWrap{width: 60%;height: 170px;margin: 0 auto;position: relative;padding: 20px 0;}
	.fWrap .logo_footer{position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
	.fTxt{position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
	.fTxt .ftTop{
		margin-bottom: 20px;display: flex;
		justify-content: flex-end;
	}
	.fTxt .ftTop li{float: left;margin-left: 20px;position: relative;}
	.fTxt .ftTop a{display: block;color: #fff;font-size: 14px;}
	.fTxt .ftTop li:after{
		content:"";display: block;width: 1px;height: 16px;background: #fff;
		position: absolute;top: 50%;right: -10px;transform: translateY(-50%);
	}
	.fTxt .ftTop li:nth-child(4):after{display: none;}
	.fTxt .ftMid{
		margin-bottom: 10px; display: flex;
		justify-content: flex-end;
	}
	.fTxt .ftMid li{float: left;margin-left: 20px;}
	.fTxt .ftMid li p{font-size: 14px;position: relative;color: #555;}
	.fTxt .ftMid li p:after{
		content:"";display: block;width: 1px;height: 16px;background: #555;
		position: absolute;top: 50%;right: -10px;transform: translateY(-50%);
	}
	.fTxt .ftMid li:last-child p:after{display: none;}
	.fTxt .ftBottom{display: flex;justify-content: flex-end;}
	.fTxt .ftBottom li{float: left;margin-left: 20px;}
	.fTxt .ftBottom li p{font-size: 14px;position: relative;color: #555;}
	.fTxt .ftBottom li p:after{
		content:"";display: block;width: 1px;height: 16px;background: #555;
		position: absolute;top: 50%;right: -10px;transform: translateY(-50%);
	}
	.fTxt .ftBottom li:last-child p:after{display: none;}
}
	

@media screen and (min-width: 577px) and (max-width: 922px){
	#fp-nav {display: none;}

	#page1{background-image: url(../images/img01.jpg);background-color: #999;background-blend-mode: multiply;}
	#page2{background-image: url(../images/img03.jpg);background-color: #999;background-blend-mode: screen;}
	#page3{background-image: url(../images/img02.jpg);background-color: #aaa;background-blend-mode: multiply;}
	#page4{background-image: url(../images/img05.jpg);background-color: #aaa;background-blend-mode: screen;}
	.section{
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
	}
	.bgw{background: #fff;transition: 0.3s;}
	nav#navTop{
		position: fixed;z-index:2;width: 100%;height: 100px;
		_background-color: #cdcdcd;
	}
	nav#navTop h2{float: left;width: 58px;height: 46px;}
	nav#navTop h2 a{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
	nav#navTop #tMenu{
		height: 350px;width: 200px;background-color: #999;padding-top: 10%;
		position: absolute;top: 0;right: -300px;
	}
	#tMenu li{}
	#tMenu li a{
		display: block;line-height: 25px;text-align: center;
		margin: 20px 0px; font-size: 18px;color:#fff;transition: 0.3s;
	}
	#tMenu li.active a{color: #ecb800;font-weight: 600;}
	
	#navTop .toggleMenu{
		width: 50px;height: 50px;_border: 1px solid #fff;cursor: pointer;
		position: absolute;right: 30px;top: 50%;transform: translateY(-50%);
	}
	#navTop .toggleMenu div{
		width: 34px;height: 3px;background-color: #fff;
		border-radius: 3px;position: absolute;left: 7px;transition: 0.3s;
	}
	#navTop .toggleMenu .bar1{top: 12px;}
	#navTop .toggleMenu .bar2{top: 22px;}
	#navTop .toggleMenu .bar3{top: 32px;}
	#navTop .toggleMenu.change div{transition: 0.3s;}
	#navTop .toggleMenu.change .bar1{top: 21px;transform: rotate(45deg);}
	#navTop .toggleMenu.change .bar3{top: 21px;transform: rotate(-45deg);}
	#navTop .toggleMenu.change .bar2{opacity: 0;}
	#navTop .toggleMenu div.bll{background: #444;transition: 0.3s;}

	.main{
		position: absolute;left: 50%;top: 40%;transform: translateX(-50%);
		color: #fff;text-align: center;
	}
	.moreBtn{margin: 0 auto;width: 150px;height: 40px;border: 1px solid #fff;position: relative;overflow: hidden;}
	.moreBtn .bBg{width: 100%;height: 100%;background: #fff;position: absolute;left: -100%;transition: 0.3s;opacity: 0.8;}
	.moreBtn a{
		display: block;color: #fff;font-size: 14px;text-align: left;line-height: 60px;width: 100%;
		transition: 0.3s;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);padding-left: 15%;
	}
	.moreBtn .bar1{
		position: absolute;left: 70%;top: 48%;transform: translateY(-50%);
		width: 15%;height: 1px;background: #fff;border-radius: 1px;transition: 0.3s;
	}
	.moreBtn .bar2{
		position: absolute;left: 82%;top: 57%;transform: translate(-50%,-50%) rotate(-45deg);
		width: 6%;height: 1px;background: #fff;border-radius: 1px;transition: 0.3s;
	}
	.moreBtn:hover .bBg{left: 0;transition: 0.3s;}
	.moreBtn:hover a{color: #444;transition: 0.3s;}
	.moreBtn:hover .bar1,
	.moreBtn:hover .bar2{background: #444;transition: 0.3s;}

	#onViewOne{width: 100%;height: 100%;top: 30%;transition: 0.6s;opacity: 0;}
	#onViewOne.move{top: 40%;opacity: 1;}
	#onViewOne h3{font-size: 50px;margin-bottom: 45px;position: relative;font-weight: 600;}
	#onViewOne h3:after{
		content:"";width: 150px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 80px;left: 50%;transform: translateX(-50%);
	}
	#onViewOne .txt1{font-size: 26px;margin-bottom: 8px;}
	#onViewOne .txt2{font-size: 12px;line-height: 20px;margin-bottom: 20px;}
	.scroll{
		position: absolute;left: 50%;transform: translateX(-50%);bottom: 20px;
		animation: xScroll 0.8s infinite alternate;
	}
	@keyframes xScroll{
		from{bottom: 20px;}
		to{bottom: 40px;}
	}

	#onViewTwo{width: 100%;height: 100%;top: 8%;transition: 0.6s;opacity: 0;}
	#onViewTwo.move{top: 18%;opacity: 1;}
	#onViewTwo h3{font-size: 40px;margin-bottom: 150px;position: relative;font-weight: 600;color: #444;}
	#onViewTwo h3:after{
		content:"";width: 150px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 80px;left: 50%;transform: translateX(-50%);
	}
	#onViewTwo .vtWrap{width: 620px;height: 400px;margin: 0 auto;_background: #eee;overflow: hidden;position: relative;}
	#onViewTwo .vtWrap ul{width: 1900px;position: absolute;left: 0;}
	#onViewTwo .vtWrap li{
		/*background-image: url(../images/pro01.jpg);*/
		float: left;width: 300px;height: 375px;overflow: hidden;position: relative;
		margin-right: 20px;
	}
	#onViewTwo .vtWrap li:nth-child(2),
	#onViewTwo .vtWrap li:nth-child(4),
	#onViewTwo .vtWrap li:nth-child(6){margin-right: 0;}
	#onViewTwo .vtWrap li img{height: 375px;position: absolute;left: -20px;}
	#onViewTwo .vtWrap li .multi{
		position: absolute;left: 0;top: 0;
		width: 100%;height: 100%;background: #aaa;mix-blend-mode: multiply;
	}
	#onViewTwo .vtWrap li .tBox{
		position: absolute;width: 300px;height: 375px;
		top: 315px;left: 0;background: #fff;opacity: 0.8;
		padding:20px;text-align: left;transition: 0.6s;
	}
	#onViewTwo .vtWrap li .tBox:hover{top: 0;transition: 0.6s;}
	#onViewTwo .vtWrap li .tBox h4{font-size: 16px;font-weight: 600;color: #000;margin-bottom: 7px;}
	#onViewTwo .vtWrap li .tBox p{display: none;font-size: 10px;color: #000;line-height: 14px;}
	#onViewTwo .vtWrap li .tBox .wrap{
		width: 50px;height: 50px;border: 3px solid #444;
		border-radius: 25px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);transition: 0.3s;cursor: pointer;
	}
	#onViewTwo .vtWrap li .tBox .bar1{
		width: 30px;height: 3px;background: #444;
		border-radius: 2px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	#onViewTwo .vtWrap li .tBox .bar2{
		width: 3px;height: 30px;background: #444;
		border-radius: 2px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	#onViewTwo .vtWrap li .tBox .wrap:hover{transform: translate(-50%,-50%) rotate(90deg);}
	#onViewTwo .btnPager{display: none;}
	#onViewTwo .tabPager{
		display: block;width: 150px;position: absolute;
		left: 50%;transform: translateX(-50%);
	}
	#onViewTwo .tabPager>div{
		float: left;width: 30px;height: 30px;background: #aaa;transition: 0.1s;
		cursor: pointer;margin: 0 10px;
	}
	#onViewTwo .tabPager div.act{
		background: #ecb800;transform: scale(1.2);transition: 0.1s;
	}
	#onViewTwo .moreBtn{bottom: -70px;border: 1px solid #666;}
	#onViewTwo .moreBtn a{color: #444;}
	#onViewTwo .moreBtn .bar1,
	#onViewTwo .moreBtn .bar2,
	#onViewTwo .moreBtn .bBg{background: #444;}
	#onViewTwo .moreBtn:hover a{color: #fff;}
	#onViewTwo .moreBtn:hover .bar1, 
	#onViewTwo .moreBtn:hover .bar2{background: #fff;} 

	#onViewThree{width: 800px;top:8%;transition: 0.6s;opacity: 0;margin: 0 auto;}
	#onViewThree.move{top: 18%;opacity:1;transition: 0.6s;}
	#onViewThree .left{/*float: left;width: 700px;*//*position: relative;*/}
	#onViewThree h3{
		font-size: 40px;margin-bottom: 60px;position: relative;font-weight: 600;
	}
	#onViewThree h3:after{
		content:"";width: 150px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 70px;left: 50%;transform: translateX(-50%);
	}
	#onViewThree .txt1{display: none;}
	#onViewThree .snsIcon a{
		display: block;float: left;width: 50px;height: 50px;border-radius: 50%;
		margin-right: 20px;margin-bottom: 30px;background: #bbb;position: relative;left: 38%;
	}
	#onViewThree .snsIcon a img{
		position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%) scale(0.6);
	}
	#onViewThree .snsIcon a:hover img{transform: translate(-50%,-50%) scale(0.5); transition: 0.3s;}
	#onViewThree .left .moreBtn{margin-bottom: 30px;}
	#onViewThree .right{
		/*float: right;*/width: 800px;height: 450px;position: relative;
	}
	#onViewThree .right .artSlide{margin: 0 auto;width: 637px;height: 600px;position: relative;overflow: hidden;}
	#onViewThree .right .artWrap{
		z-index: 1;
		width: 1304px;height: 600px;position: absolute;left: 0;
	}
	#onViewThree .right ul.L{width: 637px;float: left;margin-right: 30px;}
	#onViewThree .right ul.R{width: 637px;float: right;/*margin-right: 30px;*/}
	#onViewThree .right li{
		float: left;width: 195px;height: 210px;overflow: hidden;position: relative;
	}
	#onViewThree .right li:nth-child(1){width: 412px;height: 450px;margin-right: 30px;}
	#onViewThree .right li:nth-child(2){margin-bottom: 30px;}
	#onViewThree .right li img{height: 100%;position: absolute;left: -7px;}
	#onViewThree .right li:nth-child(1) img{left: -25px;}
	#onViewThree .right li .tBox{
		position: absolute;width: 100%;height: 100%;
		top: 85%;left: 0;background: #444;opacity: 0.6;
		padding:5%;text-align: left;transition: 0.6s;
	}
	#onViewThree .right li .tBox:hover{top: 0;}
	#onViewThree .tBox h4{font-size: 14px;font-weight: 600;margin-bottom: 5px;}
	#onViewThree .tBox p{display: none;font-size: 11px;line-height: 16px;}
	#onViewThree .right li:nth-child(1) h4{font-size: 22px;margin-bottom: 10px;}
	#onViewThree .right li:nth-child(1) p{font-size: 16px;line-height: 20px;}


	#onViewThree .tBox .btn{
		position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);
		width: 25%;height: 10%;border: 2px solid #fff;cursor: pointer;overflow: hidden;
	}
	#onViewThree .tBox .bar1{
		position: absolute;left: 50%;top: 45%;transform: translate(-50%,-50%);
		width: 60%;height: 2px;background: #fff;
	}
	#onViewThree .tBox .bar2{
		position: absolute;left: 74%;top: 56%;transform: translate(-50%,-50%) rotate(-45deg);
		width: 15%;height: 2px;background: #fff;
	}
	#onViewThree .tBox .btn div{transition: 0.6s;}
	#onViewThree .tBox .fffBox{
		width: 100%;height: 100%;position: absolute;left: -100%;top: 0;
		background: #fff;
	}
	#onViewThree .tBox .btn:hover .bar1,
	#onViewThree .tBox .btn:hover .bar2{background: #000;transition: 0.6s;}
	#onViewThree .tBox .btn:hover .fffBox{left: 0;transition: 0.6s;}
	#onViewThree .right .btnPage{display: none;}
	#onViewThree .right .tabPage{display: block;
		position: absolute;width: 715px; height: 100px;
		top: 50%;left: 50%;transform: translate(-50%,-50%);
	}
	#onViewThree .right .tabPage>div{
		width: 40px;height: 100px;position: relative;
		cursor: pointer;display: block;padding: 0 15px;
	}
	#onViewThree .right .tabPage>div .bar1{
		width: 2px;height: 50px;transform: rotate(30deg);background: #fff;
		position: absolute;top: 4px;
	}
	#onViewThree .right .tabPage>div .bar2{
		width: 2px;height: 50px;transform: rotate(-30deg);background: #fff;
		position: absolute;bottom: 4px;
	}
	#onViewThree .right .tabPage .prev{float: left;}
	#onViewThree .right .tabPage .next{float: right;transform: rotate(180deg);}

	#onViewFour{top: 8%;transition: 0.6s;opacity: 0;}
	#onViewFour.move{top: 18%;opacity: 1;}
	#onViewFour .nText{width: 85%;margin-bottom: 30px;}
	#onViewFour h3{
		font-size: 40px;margin-bottom: 80px;position: relative;font-weight: 600;
		color: #444;text-align: right;
	}
	#onViewFour h3:after{
		content:"";width: 150px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 70px;right: 0;
	}
	#onViewFour .nPtxt{float: right;}
	#onViewFour .nPtxt p{
		float: left;color: #444;text-align: right;font-size: 20px;
		/*width: 160px;*/position: relative;margin-left: 50px;
	}
	#onViewFour .nPtxt p:after{
		content:"";width: 100%;height: 2px;background: #aaa;border-radius: 2px;
		position: absolute;bottom: -8px;left: 0;transform: scale(0);
	}
	#onViewFour .nPtxt p:hover:after{
		transform: scale(1);transition: 0.3s;
	}
	#onViewFour .nPtxt a{display: inline-block;margin-left: 30px;font-size: 12px;color: #aaa;}
	#onViewFour .newsWrap{width: 800px;}
	#onViewFour .newsWrap li{margin: 0 auto;
		width: 80%;height: 150px;background-color: rgba(220,220,220,0.5);border-bottom: 2px solid #aaa;
	}
	#onViewFour .newsWrap li:nth-child(2){background-color: rgba(255,255,255,0.5);}
	#onViewFour .newsWrap li:hover{background: #fff;transition: 0.3s;}
	#onViewFour .newsWrap li:nth-child(1){border-top: 2px solid #aaa;}
	#onViewFour .newsWrap .newsTxt{float: left;width: 76%;padding: 20px 20px;}
	#onViewFour .newsWrap .newsTxt a{display: block;font-size: 18px;font-weight: 600;color: #444;text-align: left;margin-bottom: 10px;}
	#onViewFour .newsWrap .newsTxt p{font-size: 10px;color: #444;text-align: left;line-height: 25px;}
	#onViewFour .newsWrap .nImg{
		float: right;width: 150px;height: 112px;overflow: hidden;
		position: relative;top: 50%;transform: translateY(-50%);
	}
	#onViewFour .newsWrap .nImg img{width: 100%;position: absolute;top: -10px;transition: 0.3s;}
	#onViewFour .newsWrap li:nth-child(3) .nImg img{top: 0;}
	#onViewFour .newsWrap .nImg:hover img{transform:  scale(1.1);transition: 0.3s;}
	#onViewFour .moreBtn{bottom: -30px;border: 1px solid #666;}
	#onViewFour .moreBtn a{color: #444;}
	#onViewFour .moreBtn .bar1,
	#onViewFour .moreBtn .bar2,
	#onViewFour .moreBtn .bBg{background: #444;}
	#onViewFour .moreBtn:hover a{color: #fff;}
	#onViewFour .moreBtn:hover .bar1, 
	#onViewFour .moreBtn:hover .bar2{background: #fff;} 

	.top{
		position: fixed;width: 60px;height: 60px;border: 1px solid #fff;
		background-color: rgba(170,170,170,0.5);right: 10%;bottom: 5%;line-height: 60px;
		font-size: 20px;text-align: center;
		animation:viewTop 1s infinite alternate;opacity: 0;transition: 0.3s;
	}
	.top a{display: block;color: #fff;}
	@keyframes viewTop{
		from{transform: translateY(0);}
		to{transform: translateY(-20px);}
	} 
	.top.view{opacity: 1;transition: 0.3s;}

	/*sub01	*/
	.visual{
		width: 100%;height: 380px;
		background-image: url(../images/img06.png);
		background-size: cover;
		 _background-color: #444;position: relative;
	}
	.sub_one>li>a{
		display: block;line-height: 25px;text-align: center;
		margin: 20px 0px; font-size: 18px;color:#444 !important;transition: 0.3s;
	}
	.sub_one>li.active>a{color: #ecb800 !important;font-weight: 600;}
	#sMenu{display: none;background: #eee;position: absolute;top: 0;right: 100%;}
	#sMenu>li{width: 150px;}
	#sMenu>li:hover>a{background: #ccc;transition: 0.3s;font-weight: 600;}
	#sMenu>li>a{display: block;font-size: 18px;text-align: center;line-height: 30px;color: #444 !important;padding: 20px 0;}
	
	.visual h3{
		text-align: center;font-weight: 600;font-size: 35px;color: #444;letter-spacing: 20px;
		position: absolute;left: 50%;top: 40%;transform: translateX(-50%);z-index: 1;
	}
	.visual h3:after{
		content:"";width: 2px;height: 130px;background: #ecb800;position: absolute;
		left: 50%;top: 70px;
	}
	.sub_one_content{width: 100%;height: 542px;position: relative;}
	.sub_one_content .cTop{
		width: 70%;height: 220px;background: #fff;position: absolute;top: -110px;z-index: 0;
		left: 50%;transform: translateX(-50%);padding: 10px;
	}
	.sub_nav{font-size: 12px;}
	.sub_nav a{display: inline-block;color: #ecb800;margin: 0 3px;}
	.sub_nav a:nth-child(2){color: #444;}
	.sub_txt{width: 100%;text-align: center;position: absolute;top: 100px;color: #444;}
	.sub_txt h4{font-size: 22px;font-weight: 600;margin-bottom: 15px;}
	.sub_txt p{font-size: 13px;line-height: 20px;}
	.sub_CI{width: 100%; position: absolute;top: 120px;padding: 50px 0;background: #eee;}
	.sub_CI h4{text-align: center;font-size: 16px;font-weight: 500;line-height: 26px;margin-bottom: 60px;color:#444;}
	.sub_CI ul{width: 90%;margin: 0 auto;}
	.sub_CI li{float: left;width: 48%;height: 210px;text-align: center;color: #444;padding: 30px;background: #fff;}
	.sub_CI li:nth-child(1){margin-right: 4%;}
	.sub_CI li h5{font-size: 18px;margin-bottom: 30px;position: relative;}
	.sub_CI li h5:after{
		content:"";width: 50px;height: 1px;background: #ecb800;position: absolute;
		left: 50%;top: 32px;transform: translateX(-50%);
	}
	.sub_CI li p{text-align: left;line-height: 24px;font-size: 13px;}
	#footer{width: 100%;height: 150px;background: #9a9999;}
	#footer .fWrap{width: 80%;height: 150px;margin: 0 auto;position: relative;padding: 15px 0;}
	.fWrap .logo_footer{position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
	.fTxt{position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
	.fTxt .ftTop{
		margin-bottom: 15px;display: flex;
		justify-content: flex-end;
	}
	.fTxt .ftTop li{float: left;margin-left: 16px;position: relative;}
	.fTxt .ftTop a{display: block;color: #fff;font-size: 12px;}
	.fTxt .ftTop li:after{
		content:"";display: block;width: 1px;height: 12px;background: #fff;
		position: absolute;top: 50%;right: -8px;transform: translateY(-50%);
	}
	.fTxt .ftTop li:nth-child(4):after{display: none;}
	.fTxt .ftMid{
		margin-bottom: 8px; display: flex;
		justify-content: flex-end;
	}
	.fTxt .ftMid li{float: left;margin-left: 16px;}
	.fTxt .ftMid li p{font-size: 12px;position: relative;color: #555;}
	.fTxt .ftMid li p:after{
		content:"";display: block;width: 1px;height: 12px;background: #555;
		position: absolute;top: 50%;right: -8px;transform: translateY(-50%);
	}
	.fTxt .ftMid li:last-child p:after{display: none;}
	.fTxt .ftBottom{display: flex;justify-content: flex-end;}
	.fTxt .ftBottom li{float: left;margin-left: 16px;}
	.fTxt .ftBottom li p{font-size: 12px;position: relative;color: #555;}
	.fTxt .ftBottom li p:after{
		content:"";display: block;width: 1px;height: 12px;background: #555;
		position: absolute;top: 50%;right: -8px;transform: translateY(-50%);
	}
	.fTxt .ftBottom li:last-child p:after{display: none;}

	#navTop .sToggleMenu{
		width: 50px;height: 50px;_border: 1px solid #fff;cursor: pointer;
		position: absolute;right: 30px;top: 50%;transform: translateY(-50%);
	}
	#navTop .sToggleMenu div{
		width: 34px;height: 3px;background-color: #555;
		border-radius: 3px;position: absolute;left: 7px;transition: 0.3s;
	}
	#navTop .sToggleMenu .bar1{top: 12px;}
	#navTop .sToggleMenu .bar2{top: 22px;}
	#navTop .sToggleMenu .bar3{top: 32px;}
	#navTop .sToggleMenu.change div{transition: 0.3s;}
	#navTop .sToggleMenu.change .bar1{top: 21px;transform: rotate(45deg);}
	#navTop .sToggleMenu.change .bar3{top: 21px;transform: rotate(-45deg);}
	#navTop .sToggleMenu.change .bar2{opacity: 0;}
}

	
@media screen and (max-width: 576px){
	#fp-nav {display: none;}

	#page1{background-image: url(../images/img01.jpg);background-color: #999;background-blend-mode: multiply;}
	#page2{background-image: url(../images/img03.jpg);background-color: #999;background-blend-mode: screen;}
	#page3{background-image: url(../images/img02.jpg);background-color: #aaa;background-blend-mode: multiply;}
	#page4{background-image: url(../images/img05.jpg);background-color: #aaa;background-blend-mode: screen;}
	.section{
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
	}

	.bgw{background: #fff;transition: 0.3s;}
	nav#navTop{
		position: fixed;z-index:2;width: 100%;height: 100px;
		_background-color: #cdcdcd;
	}
	nav#navTop h2{float: left;width: 58px;height: 46px;}
	nav#navTop h2 a{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) scale(0.8);}
	nav#navTop #tMenu{
		height: 300px;width: 180px;background-color: #999;padding-top: 15%;
		position: absolute;top: 0;right: -300px;
	}
	#tMenu li{}
	#tMenu li a{
		display: block;line-height: 25px;text-align: center;
		margin: 20px 0px; font-size: 18px;color:#fff;transition: 0.3s;
	}
	#tMenu li.active a{color: #ecb800;font-weight: 600;}
	
	#navTop .toggleMenu{
		width: 40px;height: 40px;_border: 1px solid #fff;cursor: pointer;
		position: absolute;right: 20px;top: 50%;transform: translateY(-50%);
	}
	#navTop .toggleMenu div{
		width: 30px;height: 3px;background-color: #fff;
		border-radius: 3px;position: absolute;left: 4px;transition: 0.3s;
	}
	#navTop .toggleMenu .bar1{top: 8px;}
	#navTop .toggleMenu .bar2{top: 18px;}
	#navTop .toggleMenu .bar3{top: 28px;}
	#navTop .toggleMenu.change div{transition: 0.3s;}
	#navTop .toggleMenu.change .bar1{top: 18px;transform: rotate(45deg);}
	#navTop .toggleMenu.change .bar3{top: 18px;transform: rotate(-45deg);}
	#navTop .toggleMenu.change .bar2{opacity: 0;}
	#navTop .toggleMenu div.bll{background: #444;transition: 0.3s;}

	.main{
		position: absolute;left: 50%;transform: translateX(-50%);
		color: #fff;text-align: center;
	}
	.moreBtn{margin: 0 auto;width: 100px;height: 30px;border: 1px solid #fff;position: relative;overflow: hidden;}
	.moreBtn .bBg{width: 100%;height: 100%;background: #fff;position: absolute;left: -100%;transition: 0.3s;opacity: 0.8;}
	.moreBtn a{
		display: block;color: #fff;font-size: 11px;text-align: left;line-height: 60px;width: 100%;
		transition: 0.3s;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);padding-left: 15%;
	}
	.moreBtn .bar1{
		position: absolute;left: 70%;top: 48%;transform: translateY(-50%);
		width: 15%;height: 1px;background: #fff;border-radius: 1px;transition: 0.3s;
	}
	.moreBtn .bar2{
		position: absolute;left: 82%;top: 57%;transform: translate(-50%,-50%) rotate(-45deg);
		width: 6%;height: 1px;background: #fff;border-radius: 1px;transition: 0.3s;
	}
	.moreBtn:hover .bBg{left: 0;transition: 0.3s;}
	.moreBtn:hover a{color: #444;transition: 0.3s;}
	.moreBtn:hover .bar1,
	.moreBtn:hover .bar2{background: #444;transition: 0.3s;}

	#onViewOne{width: 100%;height: 100%;top: 25%;transition: 0.6s;opacity: 0;}
	#onViewOne.move{top: 35%;opacity: 1;}
	#onViewOne h3{font-size: 35px;margin-bottom: 35px;position: relative;font-weight: 600;}
	#onViewOne h3:after{
		content:"";width: 100px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 55px;left: 50%;transform: translateX(-50%);
	}
	#onViewOne .txt1{font-size: 13px;margin-bottom: 15px;}
	#onViewOne .txt2{display: none;}
		
	.scroll{
		position: absolute;left: 50%;transform: translateX(-50%) scale(0.8);bottom: 20px;
		animation: xScroll 0.8s infinite alternate;
	}
	@keyframes xScroll{
		from{bottom: 20px;}
		to{bottom: 40px;}
	}

	#onViewTwo{width: 100%;height: 100%;top: 0;transition: 0.6s;opacity: 0;width: 100%;height: 100%;}
	#onViewTwo.move{top: 16%;opacity: 1;}
	#onViewTwo h3{font-size: 28px;margin-bottom: 60px;position: relative;font-weight: 600;color: #444;}
	#onViewTwo h3:after{
		content:"";width: 100px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 50px;left: 50%;transform: translateX(-50%);
	}
	#onViewTwo .vtWrap{width: 90%;height: 56%;margin: 0 auto;overflow: hidden;position: relative;margin-bottom: 10px;}
	#onViewTwo .vtWrap ul{width: 100%;height: 100%;position: absolute;left: 0;}
	#onViewTwo .vtWrap li{
		/*background-image: url(../images/pro01.jpg);*/
		float: left;width: 48%;height: 48%;overflow: hidden;position: relative;
		margin-right: 2%;margin-bottom: 2%;
	}
	#onViewTwo .vtWrap li:nth-child(5),
	#onViewTwo .vtWrap li:nth-child(6){display: none;}
	#onViewTwo .vtWrap li:nth-child(2),
	#onViewTwo .vtWrap li:nth-child(4){margin-right: 0;}
	#onViewTwo .vtWrap li:nth-child(3),
	#onViewTwo .vtWrap li:nth-child(4){margin-bottom: 0;}
	#onViewTwo .vtWrap li img{height: 100%;position: absolute;}
	#onViewTwo .vtWrap li .multi{
		position: absolute;left: 0;top: 0;
		width: 100%;height: 100%;background: #aaa;mix-blend-mode: multiply;
	}
	#onViewTwo .vtWrap li .tBox{
		position: absolute;width: 100%;height: 100%;
		top: 80%;left: 0;background: #fff;opacity: 0.8;
		padding:10px;text-align: left;transition: 0.6s;
	}
	#onViewTwo .vtWrap li .tBox:hover{top: 0;transition: 0.6s;}
	#onViewTwo .vtWrap li .tBox h4{font-size: 12px;font-weight: 600;color: #000;margin-bottom: 7px;}
	#onViewTwo .vtWrap li .tBox p{display: none;font-size: 10px;color: #000;line-height: 14px;}
	#onViewTwo .vtWrap li .tBox .wrap{
		width: 30px;height: 30px;border: 2px solid #444;
		border-radius: 50%;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);transition: 0.3s;cursor: pointer;
	}
	#onViewTwo .vtWrap li .tBox .bar1{
		width: 20px;height: 2px;background: #444;
		border-radius: 2px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	#onViewTwo .vtWrap li .tBox .bar2{
		width: 2px;height: 20px;background: #444;
		border-radius: 2px;position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%);
	}
	#onViewTwo .vtWrap li .tBox .wrap:hover{transform: translate(-50%,-50%) rotate(90deg);}
	#onViewTwo .btnPager,
	#onViewTwo .tabPager{display: none;}
	#onViewTwo .moreBtn{border: 1px solid #666;}
	#onViewTwo .moreBtn a{color: #444;}
	#onViewTwo .moreBtn .bar1,
	#onViewTwo .moreBtn .bar2,
	#onViewTwo .moreBtn .bBg{background: #444;}
	#onViewTwo .moreBtn:hover a{color: #fff;}
	#onViewTwo .moreBtn:hover .bar1, 
	#onViewTwo .moreBtn:hover .bar2{background: #fff;} 

	
	#onViewThree{width: 100%;height: 100%;top:5%;transition: 0.6s;opacity: 0;margin: 0 auto;}
	#onViewThree.move{top: 15%;opacity:1;transition: 0.6s;}
	#onViewThree .left{width: 90%;margin: 0 auto;}
	#onViewThree h3{
		font-size: 30px;margin-bottom: 45px;position: relative;font-weight: 600;
	}
	#onViewThree h3:after{
		content:"";width: 100px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 55px;left: 50%;transform: translateX(-50%);
	}
	#onViewThree .txt1{display: none;}
	#onViewThree .snsIcon{width: 180px;margin: 0 auto;}
	#onViewThree .snsIcon a{
		display: block;float: left;width: 40px;height: 40px;border-radius: 50%;
		margin: 0 10px;margin-bottom: 15px;background: #bbb;position: relative;
	}
	#onViewThree .snsIcon a img{
		position: absolute;left: 50%;top: 50%;
		transform: translate(-50%,-50%) scale(0.5);
	}
	#onViewThree .snsIcon a:hover img{transform: translate(-50%,-50%) scale(0.4); transition: 0.3s;}
	#onViewThree .moreBtn{margin-bottom: 15px;}
	#onViewThree .right{
		/*float: right;*/width: 90%;height: 60%;position: relative;margin: 0 auto;
	}
	#onViewThree .right .artSlide{width: 100%;height: 100%;position: relative;overflow: hidden;}
	#onViewThree .right .artWrap{width: 100%;height: 100%;
		/*z-index: 1;
		width: 1304px;height: 600px;position: absolute;left: 0;*/
	}
	#onViewThree .right ul.L{width: 100%;height: 100%;margin: 0 auto;}
	#onViewThree .right ul.R{display: none;width: 637px;float: right;/*margin-right: 30px;*/}
	#onViewThree .right li{background: #eee;
		float: left;width: 48%;height: 32%;overflow: hidden;position: relative;
	}
	#onViewThree .right li:nth-child(1){width: 100%;height: 50%;margin-bottom: 4%;}
	#onViewThree .right li:nth-child(2){margin-right: 4%;}
	#onViewThree .right li img{width: 100%;}
	#onViewThree .right li .tBox{
		position: absolute;width: 100%;height: 100%;
		top: 82%;left: 0;background: #444;opacity: 0.6;
		padding:5%;text-align: left;transition: 0.6s;
	}
	#onViewThree .right li .tBox:hover{top: 0;}
	#onViewThree .tBox h4{font-size: 12px;font-weight: 400;}
	#onViewThree .tBox p{display: none;}
	#onViewThree .right li:nth-child(1) h4{font-size: 16px;}
	#onViewThree .tBox .btn{
		position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);
		width: 25%;height: 15%;border: 2px solid #fff;cursor: pointer;overflow: hidden;
	}
	#onViewThree .tBox .bar1{
		position: absolute;left: 50%;top: 45%;transform: translate(-50%,-50%);
		width: 60%;height: 2px;background: #fff;
	}
	#onViewThree .tBox .bar2{
		position: absolute;left: 74%;top: 60%;transform: translate(-50%,-50%) rotate(-45deg);
		width: 15%;height: 2px;background: #fff;
	}
	#onViewThree .tBox .btn div{transition: 0.6s;}
	#onViewThree .tBox .fffBox{
		width: 100%;height: 100%;position: absolute;left: -100%;top: 0;
		background: #fff;
	}
	#onViewThree .tBox .btn:hover .bar1,
	#onViewThree .tBox .btn:hover .bar2{background: #000;transition: 0.6s;}
	#onViewThree .tBox .btn:hover .fffBox{left: 0;transition: 0.6s;}
	#onViewThree .right .btnPage{display: none;}
	#onViewThree .right .tabPage{display: none;}
	
	#onViewFour{width: 100%;height: 100%;top: 5%;transition: 0.6s;opacity: 0;}
	#onViewFour.move{top: 15%;opacity: 1;}
	#onViewFour .nText{width: 90%;margin-bottom: 20px;}
	#onViewFour h3{
		font-size: 26px;margin-bottom: 25px;position: relative;font-weight: 600;
		color: #444;text-align: right;
	}
	#onViewFour h3:after{
		content:"";width: 100px;height: 3px;background: #ecb800;
		display: block;position: absolute;top: 40px;right: 0;
	}
	#onViewFour .nPtxt{float: right;}
	#onViewFour .nPtxt p{
		float: left;color: #444;text-align: right;font-size: 16px;
		/*width: 160px;*/position: relative;margin-left: 50px;
	}
	#onViewFour .nPtxt p:after{
		content:"";width: 100%;height: 2px;background: #aaa;border-radius: 2px;
		position: absolute;bottom: -8px;left: 0;transform: scale(0);
	}
	#onViewFour .nPtxt p:hover:after{
		transform: scale(1);transition: 0.3s;
	}
	#onViewFour .nPtxt a{display: inline-block;margin-left: 30px;font-size: 12px;color: #aaa;}
	#onViewFour .newsWrap{width: 90%;height: 55%;margin: 0 auto;margin-bottom: 20px;}
	#onViewFour .newsWrap ul{width: 100%;height: 100%;}
	#onViewFour .newsWrap li{margin: 0 auto;
		width: 100%;height: 33%;background-color: rgba(220,220,220,0.5);border-bottom: 1px solid #aaa;
	}
	#onViewFour .newsWrap li:nth-child(1){border-top: 2px solid #aaa;}
	#onViewFour .newsWrap li:nth-child(2){background-color: rgba(255,255,255,0.5);}
	#onViewFour .newsWrap li:hover{background: #fff;transition: 0.3s;}
	#onViewFour .newsWrap .newsTxt{float: left;width: 60%;padding: 28px 12px;}
	#onViewFour .newsWrap .newsTxt a{display: block;font-size: 16px;font-weight: 600;color: #444;text-align: left;margin-bottom: 10px;}
	#onViewFour .newsWrap .newsTxt p{display: none;}
	#onViewFour .newsWrap .nImg{
		float: right;width: 40%;height: 90%;overflow: hidden;
		position: relative;top: 50%;transform: translateY(-50%);
	}
	#onViewFour .newsWrap .nImg img{width: 100%;position: absolute;transition: 0.3s;}
	#onViewFour .newsWrap li:nth-child(3) img{height: 100%;}
	#onViewFour .newsWrap .nImg:hover img{transform:  scale(1.1);transition: 0.3s;}
	#onViewFour .moreBtn{border: 1px solid #666;}
	#onViewFour .moreBtn a{color: #444;}
	#onViewFour .moreBtn .bar1,
	#onViewFour .moreBtn .bar2,
	#onViewFour .moreBtn .bBg{background: #444;}
	#onViewFour .moreBtn:hover a{color: #fff;}
	#onViewFour .moreBtn:hover .bar1, 
	#onViewFour .moreBtn:hover .bar2{background: #fff;} 

	.top{
		position: fixed;width: 50px;height: 50px;border: 1px solid #fff;
		background-color: rgba(170,170,170,0.5);right: 5%;bottom: 3%;line-height: 50px;
		font-size: 16px;text-align: center;
		animation:viewTop 0.6s infinite alternate;opacity: 0;transition: 0.3s;
	}
	.top a{display: block;color: #fff;}
	@keyframes viewTop{
		from{transform: translateY(0);}
		to{transform: translateY(-10px);}
	} 
	.top.view{opacity: 1;transition: 0.3s;}

	
	/*sub01	*/
	.visual{
		width: 100%;height: 300px;
		background-image: url(../images/img06.png);
		background-size: cover;
		 _background-color: #444;position: relative;
	}
	.sub_one{width: 120px !important;height: 240px !important;}
	.sub_one>li>a{
		display: block;line-height: 20px !important;text-align: center;
		margin: 10px 0px; font-size: 14px !important;color:#444 !important;transition: 0.3s;
	}
	.sub_one>li.active>a{color: #ecb800 !important;font-weight: 600;}
	#sMenu{display: none;background: #eee;position: absolute;top: 0;right: 100%;}
	#sMenu>li{width: 120px;}
	#sMenu>li:hover>a{background: #ccc;transition: 0.3s;font-weight: 600;}
	#sMenu>li>a{display: block;font-size: 14px;text-align: center;line-height: 20px;color: #444 !important;padding: 10px 0;}
	
	.visual h3{
		text-align: center;font-weight: 600;font-size: 24px;color: #444;letter-spacing: 10px;
		position: absolute;left: 50%;top: 40%;transform: translateX(-50%);z-index: 1;
	}
	.visual h3:after{
		content:"";width: 1px;height: 100px;background: #ecb800;position: absolute;
		left: 50%;top: 50px;
	}
	.sub_one_content{width: 100%;height: 584px;position: relative;}
	.sub_one_content .cTop{
		width: 80%;height: 160px;background: #fff;position: absolute;top: -80px;z-index: 0;
		left: 50%;transform: translateX(-50%);padding: 8px;
	}
	.sub_nav{font-size: 10px;}
	.sub_nav a{display: inline-block;color: #ecb800;margin: 0 2px;}
	.sub_nav a:nth-child(2){color: #444;}
	.sub_txt{width: 100%;text-align: center;position: absolute;top: 60px;color: #444;}
	.sub_txt h4{font-size: 16px;font-weight: 600;margin-bottom: 22px;}
	.sub_txt p{font-size: 10px;line-height: 16px;}
	.sub_CI{width: 100%; position: absolute;top: 80px;padding: 30px 0;background: #eee;}
	.sub_CI h4{text-align: center;font-size: 11px;font-weight: 400;line-height: 20px;margin-bottom: 30px;color:#444;}
	.sub_CI ul{width: 90%;margin: 0 auto;}
	.sub_CI li{width: 100%;height: 180px;text-align: center;color: #444;padding: 20px;background: #fff;}
	.sub_CI li:nth-child(1){margin-bottom: 4%;}
	.sub_CI li h5{font-size: 16px;margin-bottom: 30px;position: relative;}
	.sub_CI li h5:after{
		content:"";width: 50px;height: 1px;background: #ecb800;position: absolute;
		left: 50%;top: 32px;transform: translateX(-50%);
	}
	.sub_CI li p{text-align: left;line-height: 20px;font-size: 11px;}
	#footer{width: 100%;height: 100px;background: #9a9999;}
	#footer .fWrap{width: 90%;height: 100px;margin: 0 auto;position: relative;padding: 10px 0;}
	.fWrap .logo_footer{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%) scale(0.8);}
	.fTxt{display: none;}

	#navTop .sToggleMenu{
		width: 40px;height: 40px;_border: 1px solid #fff;cursor: pointer;
		position: absolute;right: 20px;top: 50%;transform: translateY(-50%);
	}
	#navTop .sToggleMenu div{
		width: 30px;height: 3px;background-color: #555;
		border-radius: 3px;position: absolute;left: 4px;transition: 0.3s;
	}
	#navTop .sToggleMenu .bar1{top: 8px;}
	#navTop .sToggleMenu .bar2{top: 18px;}
	#navTop .sToggleMenu .bar3{top: 28px;}
	#navTop .sToggleMenu.change div{transition: 0.3s;}
	#navTop .sToggleMenu.change .bar1{top: 18px;transform: rotate(45deg);}
	#navTop .sToggleMenu.change .bar3{top: 18px;transform: rotate(-45deg);}
	#navTop .sToggleMenu.change .bar2{opacity: 0;}


	
}