@charset "utf-8";
body{
	font-family: '나눔고딕', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}
#fp-nav {display: none;}

#page1{background-image: url(../images/img01.jpg);background-color: #999;background-blend-mode: multiply;}
#page2{background-image: url(../images/img03.jpg);background-color: #999;background-blend-mode: screen;}
#page3{background-image: url(../images/img02.jpg);background-color: #aaa;background-blend-mode: multiply;}
#page4{background-image: url(../images/img05.jpg);background-color: #aaa;background-blend-mode: screen;}
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

nav#navTop{
	position: fixed;z-index:1;width: 100%;
	_background-color: #cdcdcd;padding: 0 100px;
}
nav#navTop h2{float: left;width: 58px;height: 46px;}
nav#navTop h2 a{display: block;position: absolute;top: 50%;transform: translateY(-50%);}
nav#navTop ul{float: right;}
nav#navTop li{float: left;}
nav#navTop li a{
	display: block;line-height:100px;text-align: center;
	padding: 0 50px; font-size: 20px;color:#fff;transition: 0.3s;
}
#navTop li a.bl{color: #444;transition: 0.3s;}
nav#navTop li.active a{color: #ecb800;}

.main{
	position: absolute;left: 50%;top: 40%;transform: translateX(-50%);
	color: #fff;text-align: center;
}
#onViewOne{top: 30%;transition: 0.6s;opacity: 0;}
#onViewOne.move{top: 40%;opacity: 1;}
#onViewOne h3{font-size: 60px;margin-bottom: 55px;position: relative;font-weight: 600;}
#onViewOne h3:after{
	content:"";width: 200px;height: 5px;background: #ecb800;
	display: block;position: absolute;top: 100px;left: 50%;transform: translateX(-50%);
}
#onViewOne .txt1{font-size: 30px;margin-bottom: 8px;}
#onViewOne .txt2{font-size: 18px;line-height: 30px;}

#onViewTwo{top: 0;transition: 0.6s;opacity: 0;}
#onViewTwo.move{top: 12%;opacity: 1;}
#onViewTwo h3{font-size: 60px;margin-bottom: 100px;position: relative;font-weight: 600;color: #444;}
#onViewTwo h3:after{
	content:"";width: 200px;height: 5px;background: #ecb800;
	display: block;position: absolute;top: 100px;left: 50%;transform: translateX(-50%);
}
#onViewTwo .vtWrap{width: 1260px;height: 600px;margin: 0 auto;background: #eee;overflow: hidden;position: relative;}
#onViewTwo .vtWrap ul{width: 2520px;position: absolute;left: 0;}
#onViewTwo .vtWrap li{
	/*background-image: url(../images/pro01.jpg);*/
	float: left;width: 400px;height: 600px;overflow: hidden;position: relative;
	margin-right: 30px;
}
#onViewTwo .vtWrap li:nth-child(3){margin-right: 0;}
#onViewTwo .vtWrap li img{height: 600px;position: absolute;left: -20px;}
#onViewTwo .vtWrap li .multi{
	position: absolute;left: 0;top: 0;
	width: 100%;height: 100%;background: #aaa;mix-blend-mode: multiply;
}
#onViewTwo .vtWrap li:nth-child(2) img{left: -40px;}
#onViewTwo .vtWrap li:nth-child(3) img{left: -60px;}
#onViewTwo .vtWrap li .tBox{
	position: absolute;width: 400px;height: 600px;
	top: 500px;left: 0;background: #fff;opacity: 0.6;
	padding:20px;text-align: left;
}
#onViewTwo .vtWrap li .tBox h4{font-size: 16px;font-weight: 600;color: #000;margin-bottom: 10px;}
#onViewTwo .vtWrap li .tBox p{font-size: 12px;color: #000;}